<div  class="pl-component pl-component--virtual-tour virtual-tour" >
    <div><a alt="Launch Experience" href="https://www.youvisit.com/#/vte/?data-platform=v&amp;data-link-type=immersive&amp;data-inst=60249&amp;data-stopid=271828&amp;data-load-stop-only=1&amp;data-image-width=100%&amp;data-loc=90483&amp;">Launch Experience</a></div>
    <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
    <div><a class="sr-only sr-only-focusable" href="https://www.youvisit.com/tour/ada/sfsu/90483?tourid=tour1&amp;pl=v">Accessible San Francisco State University - Housing Virtual Tour</a></div>
</div>