{% set classes = [
    'pl-component',
    'pl-component--events-listing',
    'events-listing',
    'list-unstyled'
] %}
    {% set event_dates = event_date_time|render|split('-') %}
    {% set event_start_date_time_combined = event_dates[0] %}
    {% set event_end_date_time_combined = event_dates[1] %}

    {% set event_start_date_time = event_start_date_time_combined|split('|') %}
    {% set event_start_date = event_start_date_time[0] %}
    {% set event_start_time = event_start_date_time[1] %}

    {% set event_start_month_date_day = event_start_date|split(',') %}
    {% set event_start_month_day = event_start_month_date_day[1]|split(' ') %}
    {% set event_start_month = event_start_month_day[1] %}
    {% set event_start_day = event_start_month_day[2] %}

    {% set event_end_date_time = event_end_date_time_combined|split('|') %}
    {% set event_end_date = event_end_date_time[0] %}
    {% set event_end_time = event_end_date_time[1] %}

    {% set event_start_time = event_start_time|replace({'a': 'a.', 'm': 'm.', 'p': 'p.'}) %}
    {% set event_end_time = event_end_time|replace({'a': 'a.', 'm': 'm.', 'p': 'p.'}) %}

<ul {{ attributes.addClass(classes) }}>
    <li class="media">
        <div class="media-left">
            {% include "@organisms/06-events/events-listing-date.twig" with {
                "event_month": event_start_month|slice(0,3),
                "event_date": event_start_day
            } %}
        </div>
        <div class="media-body">
            <div class="media-heading">{{ event_title|raw }}</div>
            <div>{{ event_start_date|trim }}, {{ event_start_time|trim }}</div>
            <div>{{ event_location|trim }}</div>
        </div>
    </li>
</ul>