            
            
                
            
        
<ul  class="pl-component pl-component--events-listing events-listing list-unstyled">
    <li class="media">
        <div class="media-left">
            <div  class="pl-component pl-component--events-date">
    <div>Jan</div>
    <div>23</div>
</div>        </div>
        <div class="media-body">
            <div class="media-heading">
<a href="https://www.sfsu.edu">GatorFest! KICK-OFF! & Entering Year Pin Ceremony</a></div>
            <div>Thu, January 23, 05:00 p.m.</div>
            <div>West Campus Green</div>
        </div>
    </li>
</ul>