        
<div  class="pl-component pl-component--events-listing events-upcoming-listing">
    <div class="event-upcoming-listing-image">
        <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/200x200" alt="Placeholder Text">
    </div>
    <div class="event-upcoming-listing-title">
        
<a href="https://www.sfsu.edu">GatorFest! KICK-OFF! & Entering Year Pin Ceremony</a>
    </div>
    <div class="event-upcoming-listing-date">
        Thu, January 23, 2019 
    </div>
    <div class="event-upcoming-listing-description">
        Join us in the McKenna Theater for a special improv performance by ...
    </div>
</div>