
<div  class="pl-component pl-component--news-headline-topfold news-wrapper">
            <h1>Chair Petra Deken Co-author of Study on Gender Bias</h1>
        <div class="news-author">Author: Jane Doe</div>
    <div class="news-info">
        <div class="news-date">May 2, 2019</div>
                    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/1440x564" alt="Placeholder Text">
                            <div class="pull-right photo-credit">Photo Credit: Peter Deken</div>
                        </div>
</div>