
<div  class="pl-component pl-component--campus-tour" >
    <div class="campus-tour">
        <div class="campus-tour__info">
            <h2>Explore Our Campus with a Virtual Tour!</h2>
            <p>Explore our campus through interactive 360-degree photography and immersive video, highlighting our discussion-based classes and state-of-the-art learning centers.</p>
            <a class="campus-tour__button" href="https://www.youvisit.com/tour/sfsu" target="_blank">Explore Our Campus Now</a>
            <a class="campus-tour__button campus-tour__button--alt" href="https://www.youvisit.com/tour/ada/sfsu/88825?tourid=tour2&" target="_blank">View ADA Accessible Tour</a>
        </div>
        <div class="campus-tour__video">
            <!--
------------------------------------------------
Place the tag below anywhere on your page.

https://www.youvisit.com/#/vte/?data-inst=60249&data-platform=v&data-link-type=immersive&data-type=hover&data-image-height=100%&data-image-width=100%&data-hover-height=100%&data-hover-width=100%&data-ims-media-type=panorama&data-stopid=296768&data-autoplay=0&data-image-quality=10&data-remove-prompts=2&
------------------------------------------------
-->
            <a href="https://www.youvisit.com" class="virtualtour_embed"
               title="Virtual Reality, Virtual Tour"
               data-inst="60249"
               data-platform="v"
               data-link-type="immersive"
               data-type="hover"
               data-image-height="100%"
               data-image-width="100%"
               data-hover-height="100%"
               data-hover-width="100%"
               data-ims-media-type="panorama"
               data-stopid="296768"
               data-autoplay="0"
               data-image-quality="10"
               data-remove-prompts="2"
            >Virtual Tour</a>
            <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
        </div>
    </div>
</div>
