<div class="col-sm-4">
    <div class="col-xs-10 col-xs-offset-1 factoid-item-wrapper">
        <div  class="pl-component pl-component--factoid-item factoid-item factoid-bottom-item">
            <div class="sub-text">Student info</div>
            <div class="highlight">90%</div>
        </div>
    </div>
</div>