{% set btn_link = btn_link|replace({('internal:'):''}) %}
{% set btn_link = btn_link|replace({('entity:'):'/'}) %}

<div class="btn">
    {% include "@molecules/02-buttons/_button.twig" with {
        "btn_class": "btn-call-to-action",
        "btn_link" : btn_link,
        "btn_text": btn_text
    } %}
</div>
