a {
  &.btn-primary,
  &.btn-secondary,
  &.btn-call-to-action,
  &.btn-promo {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.btn-primary,
  &.btn-promo {
    color: #ffffff;
  }

  &.btn-secondary,
  &.btn-call-to-action {
    color: #330033;
  }

  &.btn-primary{
    background-image: none;
  }

  &.btn-call-to-action{
    background-color: #ffcc33;
  }

  &.btn-promo {
    background-color: #9A2250;
  }
}

.btn-primary {
  color: #ffffff;
  background-color: #303;
  border-color: #1a0019;
}

.btn-secondary {
  padding: .5em 1.5em;
  margin-right: 1em;
  font-size: 1.2em;
  color: #330033;
  border-color: #330033;
  background-color: #fff;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #303;
}

.btn-promo {
  color: #ffffff;
  background-color: #9A2250;
  border-color: #9A2250;
}

.btn-call-to-action {
  background-color: #ffcc33;
  color: #330033;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.2em;
}

.btn.btn-call-to-action:hover, .btn.btn-call-to-action:focus {
  color: #330033;
}
