{% set classes = [
    'pl-component',
    'pl-component--nav-card-accordion-tile',
    'navigation-card-accordion-tile'
] %}
<div {{ attributes.addClass(classes) }} >
    <div class="card-tile-title" role="tab">
        <a data-toggle="collapse" href="#{{ content_id }}" aria-expanded="false" aria-controls="{{ content_id }}"
           id="{{ title_id }}" class="collapsed">
            {{ title }}
            <br>
            <span class="fas fa-angle-down"></span>
        </a>
    </div>
    <div id="{{ content_id }}" class="collapse" aria-labelledby="{{ title_id }}">
        <div class="card-body card-accordion-body">
            {{ content }}
        </div>

    </div>
</div>