<div  class="pl-component pl-component--nav-card-accordion-tile navigation-card-accordion-tile" >
    <div class="card-tile-title" role="tab">
        <a data-toggle="collapse" href="#content-1" aria-expanded="false" aria-controls="content-1"
           id="title-1" class="collapsed">
            Hello
            <br>
            <span class="fas fa-angle-down"></span>
        </a>
    </div>
    <div id="content-1" class="collapse" aria-labelledby="title-1">
        <div class="card-body card-accordion-body">
            <h2>Hello</h2> <ul> <li>Celery</li> <li>Quandong</li>  <li>Swiss</li> <li>Chard</li> <li>Chicory</li> <li>Earthnut</li>  <li>Pea</li> <li>Potato</li> </ul>
        </div>

    </div>
</div>