
<ul  class="pl-component pl-component--news-listing news-listing list-unstyled">
    <li class="media">
                <div class="media-left"><img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/76x76" alt="Placeholder Text"></div>
                <div class="media-body">
            <div class="media-heading">Chair Petra Deken Co-author of Study on Gender Bias</div>
            <div>Puglia's most famous sight is the unique conical houses (Trulli) found in the area around Alberobello, a declared UNESCO World Heritage Site. Well - you need to fix the width to display the image, so once you fix the width you need to make sure the image fix within the assigned width. So, I suggest you should add the fix width like for example 25% so any of the image you want to display should be displayed within the assigned width. </div>
        </div>
    </li>
</ul>