{% set classes = [
    'pl-component',
    'pl-component--news-listing',
    'news-listing',
    'list-unstyled'
] %}

<ul {{ attributes.addClass(classes) }}>
    <li class="media">
        {% if img|render is not empty %}
        <div class="media-left">{{ img | raw }}</div>
        {% endif %}
        <div class="media-body">
            <div class="media-heading">{{ news_title }}</div>
            <div>{{ news_description | raw }}</div>
        </div>
    </li>
</ul>