



<div  class="pl-component pl-component--card event-card">
    <div class="event-info-overview">
        <div class="event-image col-sm-8 col-sm-push-5">
                            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/576x320" alt="Placeholder Text">
                    </div>
        <div class="event-info col-sm-5 col-sm-pull-7">
            <h1>GatorFest! KICK-OFF! & Entering Year Pin Ceremony</h1>
            <div class="event-date">Tuesday, August 20, 2023 </div>
            <div><span class="fa fa-clock-o"></span><span class="sr-only sr-only-focusable">Event Time</span>  4:00 p.m.  -  7:00 p.m. PT</div>
            <div><span class="fa fa-usd"></span><span class="sr-only sr-only-focusable">Cost</span> Free</div>
            <div><span class="fa fa-map-marker"></span><span class="sr-only sr-only-focusable">Location</span> West Campus Green</div>
            <div><span class="fa fa-envelope-o"></span><span class="sr-only sr-only-focusable">Contact Email</span> nsp@sfsu.edu</div>
            <div>
<div class="btn">
    <div  class="pl-component pl-component--button">
    <a class="btn btn-call-to-action" href="https://sfsu.edu/">Get Tickets</a>
</div>
</div>
</div>
        </div>
    </div>
</div>
