.page-not-found {

  img.pl-component.pl-component--img.img-responsive.img-default {
    padding-top: 100px;
  }

  div.pl-component.col-sm-10.col-sm-offset-2 {
    margin-top: 1em;
  }

  .sfsu-404-title {
    padding-top: 40px;
    font-size: 145px;
    color:  #231161;
  }

  .sfsu-404-text {
    font-size: 30px;
    color: #231161;
  }

  .sfsu-404-search button {
    font-size: 16px;
    background-color: #231161;
    width: 150px;
    margin-left: -15px;
    background-image: none;
  }

  @media all and (max-width: 768px) {

    img.pl-component.pl-component--img.img-responsive.img-default {
      padding-top: 10px;
    }

    .sfsu-404-title {
      padding-top: 0px;
      text-align: center;
      margin-top: -30px;
    }

    .sfsu-404-text {
      padding-top: 0px;
      text-align: center;
      margin-top: -30px;
    }

    .sfsu-404-search button {
      margin-left: 0px;
    }
  }

}