.promo-section {
  @media screen and (min-width: 768px) {
    .promo-image {
      padding-bottom: 35%;
      background: #e6e6e6;
    }
    .promo-cards {
      margin-top: -45%;
      padding-left: 2em;
      padding-right: 2em;
      margin-bottom: 7em;
    }
  }
}