{% set classes = [
    'pl-component',
    'pl-component--promo',
    'promo',
    'promo-section'
] %}

<div {{ attributes.addClass(classes) }}>
    <div class="heading-wrapper">
        <h2 class="heading-splash">{{ title }}</h2>
    </div>
    <div class="promo-wrapper">
        <div class="promo-image hidden-xs">
            {{ img|raw }}
        </div>
        <div class="promo-cards">
            <div class="row">
                <div class="col-sm-4">
                    {{ promo_card_1|raw }}
                </div>
                <div class="col-sm-4">
                    {{ promo_card_2|raw }}
                </div>
                <div class="col-sm-4">
                    {{ promo_card_3|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
