
<div  class="pl-component pl-component--factoid mosaic mosaic-section">
    <div class="heading-wrapper">
        <h2 class="heading-splash">Why College of Arts and Letters</h2>
    </div>
    <div class="factoid-mosaic-wrapper">
        <div class="factoid-mosaic-image col-sm-3 col-xs-6">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x586" alt="Placeholder Text">
        </div>
        <div class="factoid-mosaic-image col-sm-3 col-xs-6">
            <div class="factoid-mosaic-image-short">
                <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x293" alt="Placeholder Text">
            </div>
            <div class="factoid-mosaic-image-short">
                <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x293" alt="Placeholder Text">
            </div>
        </div>
        <div class="factoid-mosaic-info col-sm-3 col-xs-12">
            <div  class="pl-component pl-component--factoid-mosaic-item factoid-mosaic-item">
    <div class="highlight">Top 5</div>
    <div class="sub-text">Student info</div>
</div>


        </div>
        <div class="factoid-mosaic-image col-sm-3 col-xs-12">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x586" alt="Placeholder Text">
        </div>
    </div>
</div>
