
<div  class="pl-component pl-component--spotlight spotlight-section">
    <div class="heading-wrapper">
        <h2 class="heading-splash">SPOTLIGHT ON A&L</h2>
    </div>
    <div class="row">
        <div class="col-sm-6"> 
<div  class="pl-component pl-component--card card-spotlight-primary">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x400" alt="Placeholder Text">
    <h3 class="card-title">Spotlight Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. The image and text are justified.<br><a href='#'>Learn More about Spotlight</a></p>
</div> </div>
        <div class="col-sm-6">
            <div class="spotlight-cards">
                <div  class="pl-component pl-component--nav-card navigation-card">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x240" alt="Placeholder Text">
    <div class="overlay">
        
<a href="http://sfsu.edu/">The case for Diversity</a>
    </div>
</div>
                <div  class="pl-component pl-component--nav-card navigation-card">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x240" alt="Placeholder Text">
    <div class="overlay">
        
<a href="http://sfsu.edu/">Every Picture Tells a Story</a>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
