

<div  class="pl-component pl-component--people people-detail row">
    <div class="col-md-4">
        <div class="people-image">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/250x250" alt="Placeholder Text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="people-title-section">
            <div class="people-name">
                <h1>First Name Last Name</h1> <span class="people-pronoun">(She/Her/Hers) </span>
            </div>
            <div class="people-title">
                <strong>Associate Professor</strong>
            </div>
        </div>
                    <div class="people-highlight">
                <em>Faculty Advisor for some major</em>
            </div>
                            <div class="people-phone">
                <span class="fas fa-phone-alt"></span><strong>Phone: </strong>(415) 338-1111
            </div>
                            <div class="people-email">
                <span class="fa fa-envelope-o"></span><strong>Email: </strong>example@sfsu.edu
            </div>
                            <div class="people-location">
                <span class="fas fa-map-marker-alt"></span><strong>Location: </strong>Burk Hall 227
            </div>
                            <div class="people-office-hours">
                <span class="far fa-calendar-alt"></span><strong>Office Hours: </strong> <br />
                <div class="people-office-hours-list">Wed: 2:00 p.m. - 4:30 p.m.</div>
            </div>
            </div>
</div>
