{% set classes = [
    'pl-component',
    'pl-component--people',
    'people-detail',
    'row'
] %}

{% set office_hours = office_hours|replace({'am': 'a.m.', 'pm': 'p.m.'}) %}

<div {{ attributes.addClass(classes) }}>
    <div class="col-md-4">
        <div class="people-image">
            {{img|raw}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="people-title-section">
            <div class="people-name">
                <h1>{{ name }}</h1> <span class="people-pronoun">{% if pronoun|render is not empty %}({{ pronoun }}) {% endif %}</span>
            </div>
            <div class="people-title">
                <strong>{{ title }}</strong>
            </div>
        </div>
        {% if highlight|render is not empty %}
            <div class="people-highlight">
                <em>{{ highlight }}</em>
            </div>
        {% endif %}
        {% if phone|render is not empty %}
            <div class="people-phone">
                <span class="fas fa-phone-alt"></span><strong>Phone: </strong>{{ phone }}
            </div>
        {% endif %}
        {% if email|render is not empty %}
            <div class="people-email">
                <span class="fa fa-envelope-o"></span><strong>Email: </strong>{{ email|render|trim }}
            </div>
        {% endif %}
        {% if location|render is not empty %}
            <div class="people-location">
                <span class="fas fa-map-marker-alt"></span><strong>Location: </strong>{{ location }}
            </div>
        {% endif %}
        {% if office_hours|render is not empty %}
            <div class="people-office-hours">
                <span class="far fa-calendar-alt"></span><strong>Office Hours: </strong> <br />
                <div class="people-office-hours-list">{{ office_hours | raw }}</div>
            </div>
        {% endif %}
    </div>
</div>
