<div  class="pl-component pl-component--hero">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/1920x600" alt="Girl Smiling">
                <div class="container call-to-action-hero-wrapper">
            <div class="pl-component--call-to-action call-to-action btn-group pull-right">
                
<div class="btn">
    <div  class="pl-component pl-component--button">
    <a class="btn btn-call-to-action" href="http://sfsu.edu/">Apply</a>
</div>
</div>

<div class="btn">
    <div  class="pl-component pl-component--button">
    <a class="btn btn-call-to-action" href="http://sfsu.edu/">Visit</a>
</div>
</div>

            </div>
        </div>
    </div>