{% set classes = [
    'pl-component',
    'pl-component--nav-card',
    'navigation-card'
] %}
<div {{ attributes.addClass(classes) }}>
    {{ img|raw }}
    <div class="overlay">
        {{ nav|raw }}
    </div>
</div>