#header {
  background: #231161;
  color: #ffffff;
  padding: 0 2em;
}

#site-section {
  padding: 2.5em 0;
}

#utilitybox {

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      background: none;
    }
  }

  li {
    vertical-align: top;
    margin-top: 1em;
  }

  li {
    border-right: 1px solid #999999;
    padding-right: 0.7em;
  }

  li:last-child, li:nth-last-child(2) {
    border-right: none;
    padding-right: 0em;
  }

  #search {
    border-radius: 5px 0 0 5px;
    height: 1.5em;
    border: none;
  }

  button {
    background-color: #ffffff;
    height: 1.5em;
    padding: .25em;
    border: none;
  }

  .glyphicon-search {
    color: #4d4d4d;
    top: -0.1em;
    right: .1em;
  }

  form#search-box {
    width: 195px;
  }

}

body {
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {
  #site-section {
    padding: 0.5em 0;
  }
  #utility-section {
    display: flex;
    align-items: left;
  }
}