<div class="container-fluid">
    <div id="header" class="row">
        <div id="site-section" class="col-md-7">
            {% include "@molecules/00-sitename/sitename.twig" with {
                "link_url" :  link_url,
                "link_title" : link_title
            }%}
        </div>
        <div id="utility-section" class="col-md-5">
            <div id="utilitybox" class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://www.sfsu.edu/atoz/">A–Z</a>
                    </li>
                    <li><a href="http://www.sfsu.edu/calendar/">Calendar</a>
                    </li>
                    <li><a href="http://www.sfsu.edu/login.htm">Login</a>
                    </li>
                    <li>
                        <form id="search-box" title="Search SF State" method="get"
                              action="https://google.sfsu.edu/search"
                              role="search">
                            <div class="input-group">
                                <label for="search" class="sr-only sr-only-focusable">Search
                                    SF State</label>
                                <input type="text" name="q" id="search" class="form-control text-center"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button class="btn" type="submit">
                                        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                                        <span class="sr-only sr-only-focusable">Search SF State Button</span>
                                    </button>
                                </div>
                            </div>
                            <label class="radio-inline">
                                <input type="radio" name="top-search" value="global">SF
                                State
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="top-search" checked="checked" value="local">This Site
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>