{% set classes = [
    'pl-component',
    'pl-component--tag-board',
    'tagboard-embed'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="tagboard-embed" tgb-embed-id="{{ tgb_embed_id }}"></div>
    <script src="https://static.tagboard.com/embed/assets/js/embed.js"></script>
</div>