<ol class="steps">
    <li class="step previous complete">
        <a href="#">Step 1</a>
    </li>
    <li class="step active">
        <a href="#">Step 2</a>
    </li>
    <li class="step">
        <a href="#">Step 3</a>
    </li>
</ol>
