.steps {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  counter-reset: step;
  padding: 12px;
}

.steps {
  background: #fff;
  border-color: #dee2e6 #dee2e6 #ced4da;
}

.steps {
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 24px;
  position: relative;
}

.steps {
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.step {
  -webkit-box-flex: 2;
  box-flex: 2;
  -moz-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  min-height: 28px;
  position: relative;
}

.step, .step a {
  overflow: hidden;
  color: #ced4da;
}

.can-skip .step a, .radio-list.as-buttons .radio-unit .radio:checked + label.step a, .step.active a, .step.complete a, .step.previous a {
  color: #228ae6;
}

.step a {
  background: #fff;
  cursor: default;
  margin: 0 12px;
  outline: 0;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.step a, .step a::before {
  display: block;
  float: left;
  vertical-align: middle;
}

.step:not(:last-of-type)::after {
  border-top: 1px solid #ced4da;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.step.complete a::before {
  background-color: #330033;
  border-color: #37b24d;
  color: #fff;
  content: "\e207";
  font-family: "Glyphicons Regular";
  font-weight: 400;
}

.step a::before {
  border: 2px solid #ced4da;
  border-radius: 50%;
  color: #ced4da;
  content: counter(step);
  counter-increment: step;
  font-weight: 700;
  height: 28px;
  margin-right: 12px;
  text-align: center;
  width: 28px;
}

.step a, .step a::before {
  display: block;
  float: left;
  vertical-align: middle;
}

.step.active a::before {
  background-color: #330033;
  border-color: #1c7cd6;
  color: #fff;
  content: counter(step);
  font-weight: 700;
}
