{% set classes = [
    'pl-component',
    'pl-component--content-basic'
] %}
<div {{ attributes.addClass(classes) }} >
    {% block basic_content %}
        {{ basic_content }}
    {% endblock %}
</div>