{% set classes = [
    'pl-component',
    'pl-component--content-lead',
    'lead'
] %}
<div {{ attributes.addClass(classes) }} >
    {% block lead_content %}
        {{ lead_content }}
    {% endblock %}
</div>