{% set classes = [
    'pl-component',
    'pl-component--content-medium',
    'sfstate-medium'
] %}
<div {{ attributes.addClass(classes) }} >
    {% block lead_content %}
        {{ lead_content }}
    {% endblock %}
</div>