<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Header Example 1 - Bordered</th>
        <th scope="col">Header Example 2 - Bordered</th>
        <th scope="col">Header Example 3 - Bordered</th>
        <th scope="col">Header Example 4 - Bordered</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Example header row 1</th>
        <td>table data 1.1</td>
        <td>table data 1.2</td>
        <td>table data 1.3</td>
    </tr>
    <tr>
        <th scope="row">Example header row 2</th>
        <td>table data 2.1</td>
        <td>table data 2.2</td>
        <td>table data 2.3</td>
    </tr>
    <tr>
        <th scope="row">Example header row 3</th>
        <td>table data 3.1</td>
        <td>table data 3.2</td>
        <td>table data 3.3</td>
    </tr>
    </tbody>
</table>
