<div class="main-nav">
    <header id="navbar" role="banner" class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                <span class="fa fa-bars"></span> Menu
            </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first"><a href="#" title="Item 1">Item 1</a></li>
                    <li class="expanded dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Item 2
                            <span class="caret">
                                <span class="sr-only sr-only-focusable">Expand</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="first"><a href="#">Sub Item 1</a></li>
                            <li><a href="#">Sub Item 2</a></li>
                            <li class="last"><a href="#">Sub Item 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="Item 3">Item 3</a></li>
                    <li><a href="#" title="Item 4">Item 4</a></li>
                    <li><a href="#" title="Item 5">Item 5</a></li>
                    <li class="last"><a href="#" title="Item 6">Item 6</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
