.main-nav {
  background: #ffdc70;

  #navbar {
    background: #ffdc70;
    border-radius: 0px;
    border-color: #ffdc70;

    a {
      color: #000000;
      text-decoration: none;

      &:focus {
        border-bottom: none;
      }
    }

    .navbar-text.dropdown-toggle {
      color: #000;
      padding: 15px;
      margin: 0px;

      &:focus {
        background: white;
      }
    }

    a.active-trail {
      background-color: #ffdc70;
      color: #383838;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      color: #383838;
      background-color: #ffdc70;
      border: none;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: #ffffff;
      border-color: #660;
      color: #000000;
    }

    .dropdown-menu a, nav .dropdown-menu, nav .dropdown-menu a:hover, nav .dropdown-menu a:focus {
      color: #000000;
      background-color: #ffffff;
    }

    .dropdown-menu a.is-active {
      background-color: #ccc;
    }

    ul > li > .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: #000000;
      background-color: #F2F2F3;
      background-image: none;
    }

    .dropdown-menu {
      border: none;
    }

    button.navbar-toggle {
      background: transparent;
      color: #000000;
      border-color: #000000;
    }

    .dropdown-toggle:focus {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px;
    }

  }

  @media screen and (min-width: 768px) {
    #navbar-collapse {
      padding-left: 0px;
      margin-left: -15px;
    }

    .navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
    }

  }

  @media only screen and (max-width: 767px) {
    .navbar-collapse {
      border-color: #000000;
    }
  }

}