
<div  class="pl-component pl-component--faculty-publications faculty-publications row">
    <div id="dm-web-profile-root"></div>
    <script src="https://cfcdn.digitalmeasures.com/dm-web-profiles/v1/js/main.js"></script>
    <script>
        userID = parseInt( 909165340 );
        userDisplay = { container: '#dm-web-profile-root', clientId: '50773fe8-964f-5b96-aaa7-c2db57333461', reportId: '116b05fe-4381-11ea-9315-e1e5fc7085b4', username: userID };

        window.dmWebProfiles.showProfile(userDisplay);
    </script>
</div>
