.pl-component--events-date {
  margin-bottom: 0px;
  margin-right: 0.7em;
  background: #303;
  color: #fff;
  text-align: center;
  width: 3em;
  font-size: 1.5em;
  padding: 0.25em;
}
.event-card {
  .event-info-overview {
    .event-image {
      margin-left: -5%;
      margin-top: 5%;
      .pl-component {
        margin-bottom: 0;
      }
      @media screen and (max-width: 767px) {
        margin-left: 0;
        margin-top: 0;
        padding: 0;
      }
      &.no-overlap {
        margin: 0px;
        padding: 0px;
      }
      &.img-right {
        img {
          @media screen and (min-width: 768px) {
            float: right;
          }
        }
      }
    }
    .event-info {
      background: #303;
      padding: 20px;
      color: #fff;
      margin-right: -5%;
      min-height: 320px;

      h1 {
        color: #fff;
        margin-top: 0;
      }

      .fa {
        width: 1em;
        margin-right: 1em;
        text-align: center;
      }

      .event-date {
        color: #ffcc33;
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      .btn {
        margin-top: 0.5em;

        .pl-component {
          margin-bottom: 0.5em;
        }
      }
      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }
  }
}
.pl-component--events-listing {
  .media-heading {
    font-size: 1.2em;
    font-weight: bold;

    a{
      text-decoration: none;

      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }
}
.pl-component--events-listing.events-card-listing {
  max-width: 243px;
  position: relative;

  .event-card-image {
    margin-bottom: -1em;
  }
  .event-card-date {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .event-card-title {
    background: #303;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    a{
      color: #fff;
      text-decoration: none;

      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }
}
.pl-component--events-listing.events-upcoming-listing {
  max-width: 200px;

  .event-upcoming-listing-date {
    margin-bottom: 1em;
  }
  .event-upcoming-listing-title {
    a{
      text-decoration: none;
      margin-bottom: 1em;
      font-weight: bold;
      font-size: 1.1em;

      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }
  }
}
//Drupal specific
.sfstate-contextual-filter {
  ul {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;

    li {
      display: inline;

      & > a {
        border: 1px solid #ddd;
        position: relative;
        float: left;
        padding: 6px 12px;
        line-height: 1.428571429;
        text-decoration: none;
        color: #666600;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
      }

      &:first-child > a {
        margin-left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child > a {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }
}