{% set classes = [
    'pl-component',
    'pl-component--events-listing',
    'events-upcoming-listing'
] %}
    {% set event_dates = event_date_time|render|split('-') %}
    {% set event_start_date = event_dates[0] %}

<div {{ attributes.addClass(classes) }}>
    <div class="event-upcoming-listing-image">
        {{ img|raw }}
    </div>
    <div class="event-upcoming-listing-title">
        {{ event_title|raw }}
    </div>
    <div class="event-upcoming-listing-date">
        {{ event_start_date }}
    </div>
    <div class="event-upcoming-listing-description">
        {{ event_description }}
    </div>
</div>