{% set classes = [
    'pl-component',
    'pl-component--card',
    'event-card'
] %}
{% set event_dates = event_date_time|render|split('-') %}
{% set event_start_date_time_combined = event_dates[0] %}
{% set event_end_date_time_combined = event_dates[1] %}

{% set event_start_date_time = event_start_date_time_combined|split('|') %}
{% set event_start_date = event_start_date_time[0] %}
{% set event_start_time = event_start_date_time[1] %}

{% set event_end_date_time = event_end_date_time_combined|split('|') %}
{% set event_end_date = event_end_date_time[0] %}
{% set event_end_time = event_end_date_time[1] %}

{% set event_start_time = event_start_time|replace({'a': 'a.', 'm': 'm.', 'p': 'p.'}) %}
{% set event_end_time = event_end_time|replace({'a': 'a.', 'm': 'm.', 'p': 'p.'}) %}

<div {{ attributes.addClass(classes) }}>
    <div class="event-info-overview">
        <div class="event-image col-sm-8 col-sm-push-5">
            {% if img %}
                {{ img|raw }}
            {% endif %}
        </div>
        <div class="event-info col-sm-5 col-sm-pull-7">
            <h1>{{ event_title }}</h1>
            <div class="event-date">{{ event_start_date }}</div>
            <div><span class="fa fa-clock-o"></span><span class="sr-only sr-only-focusable">Event Time</span> {{ event_start_time }} - {{ event_end_time }} PT</div>
            <div><span class="fa fa-usd"></span><span class="sr-only sr-only-focusable">Cost</span> {{ event_cost }}</div>
            <div><span class="fa fa-map-marker"></span><span class="sr-only sr-only-focusable">Location</span> {{ event_location }}</div>
            <div><span class="fa fa-envelope-o"></span><span class="sr-only sr-only-focusable">Contact Email</span> {{ event_contact }}</div>
            <div>{{ btn|raw }}</div>
        </div>
    </div>
</div>
