{% set classes = [
    'pl-component',
    'pl-component--get-started-item',
    'get-started-item'
] %}
{% set btn_link = btn_link|replace({('internal:'):''}) %}
{% set btn_link = btn_link|replace({('entity:'):'/'}) %}

<div class="col-sm-4">
    <div {{ attributes.addClass(classes) }}>
        {% include "@molecules/02-buttons/_button.twig" with {
            "btn_class": "get-started-item-button",
            "btn_link": btn_link,
            "btn_text": btn_text
        } %}
    </div>
</div>