.pl-component--get-started-item {
  &.get-started-item {
    a.btn.get-started-item-button {
      width: 100%;
      background-color: #303;
      background-image: url('../images/get-started-image-overlay.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      color: #fff;
      font-size: 16px;
      text-align: left;
      padding: 1em 1.5em;
      border-radius: .5em;
      border: 0px;
      text-decoration: none;

      &:hover, &:focus {
        background-color: #ffcc33;
        color: #303;
      }
    }
  }

  &.get-started-circle-item {
    a.btn.get-started-circle-item-button {
      border-radius: 50%;
      height: 265px;
      width: 265px;
      background-color: #303;
      background-image: url('../images/half-circle.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      color: #fff;
      font-size: 24px;
      border: 0px;
      vertical-align: middle;
      display: table-cell;
      text-decoration: none;

      &:hover, &:focus {
        background-color: #ffcc33;
        color: #303;
        background-image: none;
      }
    }
  }
}