{% set classes = [
    'pl-component',
    'pl-component--nav-card-tile',
    'navigation-card-tile'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="card-tile-title">
        {{ nav|raw }}
    </div>
</div>
