{% set classes = [
    'pl-component',
    'pl-component--card',
    'card-promo',
    'card-promo-wrapper'
] %}

<div {{ attributes.addClass(classes) }}>
    {{ img|raw }}
    <div class="card-body">
        <h3 class="card-title">{{ card_title }}</h3>
        <p class="card-text">{{ card_content }}</p>
        {{ btn|raw }}
    </div>
</div>
