{% set classes = [
    'pl-component',
    'pl-component--card',
    'card-spotlight-primary'
] %}

<div {{ attributes.addClass(classes) }}>
    {{ img|raw }}
    <h3 class="card-title">{{ card_title }}</h3>
    <p class="card-text">{{ card_content }}</p>
</div>