<div {{ attributes.addClass(classes) }}>
    {{ img|raw }}
    <div class="card-body">
        {% if title_exists %}
            <h3 class="card-title">{{ card_title }}</h3>
        {% else %}
            <h2 class="card-title">{{ card_title }}</h2>
        {% endif %}
        <p class="card-text">{{ card_content }}</p>
        {{ btn|raw }}
    </div>
</div>