.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;

  img {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%;
    margin-bottom: 0px;
  }

  .card-image img {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
  }

  form {
    margin-bottom: 0px;
  }

}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
  margin-top: 10px;
  font-size: 16px;
}

.navigation-card {
  position: relative;

  img {
    width: 100%;
    margin-bottom: 0px;
  }

  a {
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    font-weight: 500;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    width: 90%;
    line-height: 1.3;

    &:hover, &:focus {
      background: none;
      text-decoration: underline;
    }
  }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.45);
  }
}

.navigation-card-tile {
  background-color: #fc3;
  padding: 1.5em;
  text-align: center;

  .card-tile-title {

    a {
      color: #333333;
      font-size: 1.5em;
      font-weight: 500;
      text-decoration: none;

      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }

  }
}

.navigation-card-accordion-tile {
  background-color: #fc3;
  padding: 1.5em 0.4em 0.4em 0.4em;
  text-align: center;

  .card-tile-title {

    a {
      color: #333333;
      text-decoration: none;

      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }

  }
}


.navigation-card-icon {
  left: 50%;
  transform: translate(-50%);
  vertical-align: top;
  display: inline-block;
  text-align: center;
  position: relative;

  img {
    margin-bottom: 4em;
  }

  .card-icon-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      padding-top: calc(100% + 0.5em);
      width: 100%;

      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }

  }
}

.card.text-white {
  color: #ffffff;

  h2, h3 {
    color: #ffffff;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    padding: 2px 2px 0;

    &:hover, &:focus {
      color: #1a1a00;
      background-color: #f5f5f4;
      text-decoration: none;
    }
  }

}

.card.blue {
  background: #1D7091;

  a.btn.btn-primary {
    background: #165771;
    border: #165771;
    padding: 6px 12px;
    text-decoration: none;

    &:hover, &:focus {
      color: #ffffff;
    }
  }

  .table-hover > tbody > tr {
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

}

.card.green {
  background: #787A00;

  a.btn.btn-primary {
    background: #555700;
    border: #555700;
    padding: 6px 12px;
    text-decoration: none;

    &:hover, &:focus {
      color: #ffffff;
    }
  }

  .table-hover > tbody > tr {
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

}

.card.red {
  background: #9A3324;

  a.btn.btn-primary {
    background: #79291D;
    border: #79291D;
    padding: 6px 12px;
    text-decoration: none;

    &:hover, &:focus {
      color: #ffffff;
    }
  }

  .table-hover > tbody > tr {
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }

}

.card-accordion-body {
  background-color: #ffffff;
  border: 1px solid #ffcc33;
  text-align: left;
}

.card-header a:hover {
  background: none;
}

.navigation-card-accordion-tile .card-tile-title a:not(.collapsed) .fa-angle-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card-promo.card-promo-wrapper {

  @media screen and (min-width: 768px) {
    max-width: 400px;
    padding: 1.5em;
    background: #fff;
    border-radius: 1em;
  }

  .card-title {
    color: #9A2250;
    margin-top: 0em;
  }

  .pl-component--button {
    margin-bottom: 0em;
  }

}

.card-spotlight-primary {

  img {
    width: 100%;
  }

  .card-title {
    font-size: 1.5em;

    @media screen and (max-width: 767px) {
      font-size: 1.2em;
    }
  }

  .card-text {
    text-align: justify;

    @media screen and (max-width: 767px) {
      font-size: 0.9em;
    }
  }
}


