<div {{ attributes.addClass(classes) }}>
    <div class="row ">

        <div class="col-sm-3">
            <div class="card-image">
                {{ img|raw }}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-body">
                {% if title_exists %}
                    <h3 class="card-title">{{ card_title }}</h3>
                {% else %}
                    <h2 class="card-title">{{ card_title }}</h2>
                {% endif %}
                <p class="card-text">{{ card_content }}</p>
                {{ btn|raw }}
            </div>
        </div>

    </div>
</div>