{% set classes = [
    'row',
    'pl-component--nav-card-grid'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4"> {% include "organisms-navigation-card" %}</div>
            <div class="col-sm-4"> {% include "organisms-navigation-card" %}</div>
            <div class="col-sm-4">{% include "organisms-navigation-card" %} </div>
        </div>
    </div>
</div>