<div class="pl-component pl-component--tabs">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#1" data-toggle="tab">Requirements</a></li>
        <li><a href="#2" data-toggle="tab">Courses</a></li>
        <li><a href="#3" data-toggle="tab">Advising</a></li>
        <li><a href="#4" data-toggle="tab">Faculty</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="1">
            <p>This tab presents information on the course requirements. This is the first tab and has the highest priority.</p>
            <p>We continually create opportunities for you to discover your
                unique path in life. With 73 degrees and more than 500 courses that combine learning
                with real-world experience, it’s no wonder our University’s motto is “Experientia
                Docet,” or experience teaches. At San Francisco State University, you’ll put your
                passion into action.</p>
            <p>From your first steps on campus, you’ll be encouraged to speak
                up, step out and immerse yourself in all the opportunities an San Francisco State
                education can bring: job opportunities, internships, scholarships, community service
                adventures, social justice activism and interdisciplinary collaboration with students
                from every country in the world — not to mention the exciting experience of living in
                San Francisco.</p>
            <p>You’ll never get more attention from your teachers than at SF
                State. With average class sizes of fewer than 30 students, professors are available for
                one-on-one time with students. Because our professors understand students don’t all
                learn the same way, they work to tailor the learning process for you. Not only are they
                great teachers, they are masters in their fields.</p>
            <p>From San Francisco State, our graduates can go anywhere. Our
                alumni are leaders in journalism, creative writing, film, technology, science, business,
                government and education. Our alumni have won 20 Pulitzers, 16 Oscars, 48 Emmys, 10
                Grammys and 12 Tonys. SF State is consistently one of the top feeder schools for
                employees at Apple, Google, Kaiser Permanente, Wells Fargo, Genentech, Oracle, the San
                Francisco Unified School District and the city and county of San Francisco.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="2">
            <p>This tab presents information on the courses. This will typically list the courses.</p>
            <p>You’ll never get more attention from your teachers than at SF
                State. With average class sizes of fewer than 30 students, professors are available for
                one-on-one time with students. Because our professors understand students don’t all
                learn the same way, they work to tailor the learning process for you. Not only are they
                great teachers, they are masters in their fields.</p>
            <p>From San Francisco State, our graduates can go anywhere. Our
                alumni are leaders in journalism, creative writing, film, technology, science, business,
                government and education. Our alumni have won 20 Pulitzers, 16 Oscars, 48 Emmys, 10
                Grammys and 12 Tonys. SF State is consistently one of the top feeder schools for
                employees at Apple, Google, Kaiser Permanente, Wells Fargo, Genentech, Oracle, the San
                Francisco Unified School District and the city and county of San Francisco.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="3">
            <p>This tab presents information on the Advising. This will typically list the advising resources.</p>
            <p>From your first steps on campus, you’ll be encouraged to speak
                up, step out and immerse yourself in all the opportunities an San Francisco State
                education can bring: job opportunities, internships, scholarships, community service
                adventures, social justice activism and interdisciplinary collaboration with students
                from every country in the world — not to mention the exciting experience of living in
                San Francisco.</p>
            <p>You’ll never get more attention from your teachers than at SF
                State. With average class sizes of fewer than 30 students, professors are available for
                one-on-one time with students. Because our professors understand students don’t all
                learn the same way, they work to tailor the learning process for you. Not only are they
                great teachers, they are masters in their fields.</p>
            <p>From San Francisco State, our graduates can go anywhere. Our
                alumni are leaders in journalism, creative writing, film, technology, science, business,
                government and education. Our alumni have won 20 Pulitzers, 16 Oscars, 48 Emmys, 10
                Grammys and 12 Tonys. SF State is consistently one of the top feeder schools for
                employees at Apple, Google, Kaiser Permanente, Wells Fargo, Genentech, Oracle, the San
                Francisco Unified School District and the city and county of San Francisco.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="4">
            <p>This tab presents information on the Faculty. This will typically list the Faculty.</p>
            <p>We continually create opportunities for you to discover your
                unique path in life. With 73 degrees and more than 500 courses that combine learning
                with real-world experience, it’s no wonder our University’s motto is “Experientia
                Docet,” or experience teaches. At San Francisco State University, you’ll put your
                passion into action.</p>
            <p>From your first steps on campus, you’ll be encouraged to speak
                up, step out and immerse yourself in all the opportunities an San Francisco State
                education can bring: job opportunities, internships, scholarships, community service
                adventures, social justice activism and interdisciplinary collaboration with students
                from every country in the world — not to mention the exciting experience of living in
                San Francisco.</p>
            <p>You’ll never get more attention from your teachers than at SF
                State. With average class sizes of fewer than 30 students, professors are available for
                one-on-one time with students. Because our professors understand students don’t all
                learn the same way, they work to tailor the learning process for you. Not only are they
                great teachers, they are masters in their fields.</p>
            <p>From San Francisco State, our graduates can go anywhere. Our
                alumni are leaders in journalism, creative writing, film, technology, science, business,
                government and education. Our alumni have won 20 Pulitzers, 16 Oscars, 48 Emmys, 10
                Grammys and 12 Tonys. SF State is consistently one of the top feeder schools for
                employees at Apple, Google, Kaiser Permanente, Wells Fargo, Genentech, Oracle, the San
                Francisco Unified School District and the city and county of San Francisco.</p>
        </div>
    </div>

</div>
