.spotlight-section {
  @media screen and (min-width: 768px) {

    .spotlight-cards .navigation-card .overlay {
      a {
        position: absolute;
        top: 70%;
        right: -30%;
        font-size: 1.2em;
        white-space: nowrap;
        text-align: right;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .spotlight-cards .navigation-card .overlay {
      a {
        font-size: 1.1em;
      }
    }
  }
}