{% set classes = [
    'pl-component',
    'pl-component--spotlight',
    'spotlight-section',
] %}

<div {{ attributes.addClass(classes) }}>
    <div class="heading-wrapper">
        <h2 class="heading-splash">{{ title }}</h2>
    </div>
    <div class="row">
        <div class="col-sm-6"> {{ spotlight_prime | raw }} </div>
        <div class="col-sm-6">
            <div class="spotlight-cards">
                {{ nav_card_top | raw }}
                {{ nav_card_bottom | raw }}
            </div>
        </div>
    </div>
</div>
