.pl-component--people {
  h1 {
    margin-bottom: 0em;
    margin-top: 0em;
    margin-right: .3em;
    display: inline-block;
  }
  .fa, .fas, .far {
    width: 2em;
  }
  .people-highlight {
    color: #666666;
  }
  .people-name strong {
    color: #330033;
    font-size: 1.2em;
  }
  .people-email {
    vertical-align: middle;
  }
  .people-email, .people-phone, .people-location, .people-highlight {
    margin-top: 1em;
  }

  &.people-detail {
    .people-title-section {
      margin-bottom: 2em;
    }
    .people-office-hours {
      margin-top: 2em;
      .people-office-hours-list {
        margin-left: 2em;
      }
    }
  }
}