.factoid {
  @media screen and (min-width: 768px) {
    .factoid-wrapper {
      position: relative;
    }
    .factoid-info {
      position: absolute;
      height: auto;
      width: 100%;
      top: 0;
      left: 0;
      margin-top: 75px;
    }
    .factoid-image img {
      min-height: 400px;
    }
    .factoid-item-wrapper {
      margin-top: 0em;
    }
  }
}
.mosaic {
  @media screen and (min-width: 768px) {
    .factoid-mosaic-wrapper {
      display: flex;
    }
  }
  img {
    width: 100%;
  }
  .factoid-mosaic-image {
    padding: 0;
  }
  .factoid-mosaic-image-short {
    .pl-component {
      margin: 0;
    }
  }
  .factoid-mosaic-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}