{% set classes = [
    'pl-component',
    'pl-component--factoid',
    'mosaic',
    'mosaic-section'
] %}

<div {{ attributes.addClass(classes) }}>
    <div class="heading-wrapper">
        <h2 class="heading-splash">{{ title }}</h2>
    </div>
    <div class="factoid-mosaic-wrapper">
        <div class="factoid-mosaic-image col-sm-3 col-xs-6">
            {{ img_1|raw }}
        </div>
        <div class="factoid-mosaic-image col-sm-3 col-xs-6">
            <div class="factoid-mosaic-image-short">
                {{ img_2|raw }}
            </div>
            <div class="factoid-mosaic-image-short">
                {{ img_3|raw }}
            </div>
        </div>
        <div class="factoid-mosaic-info col-sm-3 col-xs-12">
            {{ factoid_mosaic_info|raw }}
        </div>
        <div class="factoid-mosaic-image col-sm-3 col-xs-12">
            {{ img_4|raw }}
        </div>
    </div>
</div>
