<div  class="pl-component pl-component--live-stream livestream-embed">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="ls_embed_1558461968"
                src="https://livestream.com/accounts/12976146/events/8685425/player?width=960&height=540&enableInfoAndActivity=true&defaultDrawer=feed&autoPlay=true&mute=false"
                 width="960px" height="540px" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>
</div>