{% set classes = [
    'pl-component',
    'pl-component--nav-card-icon',
    'navigation-card-icon'
] %}
<div {{ attributes.addClass(classes) }}>
    {{ img|raw }}
    <div class="card-icon-title">
        {{ nav|raw }}
    </div>
</div>