/*
Override Pattern Lab Styles locally for SF State implementation
 */
.sg-subtype > h2 > a,
body {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

body {
    margin-top: 2em;
}

.sg-subtype > h2 > a {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    padding: .5rem;
    text-decoration: none;
}

.sg-subtype > h2 > a:hover, h3.sg-pattern-title > a:hover,
.sg-subtype > h2 > a:focus, h3.sg-pattern-title > a:focus {
    background: none;
    text-decoration: underline;
}

.sg-subtype > h2 {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #330033;
}

#sg-patterns .sg-pattern-title a.patternLink {
    font-size: 2em;
    color: #330033 !important;
}

.sg-subtype {
    background-color: #330033;
    margin: -.7rem;

}

@media (max-width: 1170px) {
    .sg-subtype > h2 > a {
        padding-left: calc(.5rem + 6px);
        padding-right: calc(.5rem + 6px);
    }
}

.navigation-card, .navigation-card-tile, .navigation-card-accordion-tile {
    max-width: 350px;
}
.spotlight-cards .navigation-card {
    max-width: 100%;
}

.navigation-card-tile .card-tile-title {
    width: calc(350px - 3em);
}

.card.card-vertical {
    width: 20rem;
}