
<div  class="pl-component pl-component--card card-spotlight-primary">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x400" alt="Placeholder Text">
    <h3 class="card-title">Spotlight Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. The image and text are justified.<br><a href='#'>Learn More about Spotlight</a></p>
</div>