{% set classes = [
    'pl-component',
    'pl-component--tags',
    'tags-item'
] %}

<div {{ attributes.addClass(classes) }}>
    <ul class="list-unstyled">
        <li>
            {{ tags_link | raw }}
        </li>
    </ul>
</div>