<div  class="pl-component pl-component--hero">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/1920x600" alt="Girl Smiling">
            <div class="pl-component pl-component--img-caption">
            <h2>Caption for this image</h2>
            This is the caption body. We would typically keep is brief and not exceeding couple of lines.
        </div>
        </div>