.i-want-to-section {
    .navbar {
        .navbar-list {
            display: block;
            list-style: none;
            text-align: center;

            .navbar-item {
                display: inline-block;
                padding-right: 2px;
                float: none;
            }
        }
    }
}

.navbar-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
    background: linear-gradient(135deg, #330033 30%, #5C015C 80%);
}

.navbar-item a:after {
    font-family: "Font Awesome\ 5 Free";
    content: "\f054";
    font-weight: 900;
    margin-right: 20px;
}

.navbar-item a:hover {
    color: #fff;
}