
<div class="pl-component pl-component--accordion" id="accordion-4" class="panel-group" role="tablist"
                                                                        aria-multiselectable="true">

                            <h2>This is the title for the accordion section</h2>
    
            This is the description of the information presented below in the accordion format. Use this area to orient users.
    
    <div class="panel panel-default">

                            <div class="panel-heading" id="accordion-heading-accordion-4-2">
                                <h3 class="panel-title">
                    
                        <a data-toggle="collapse" data-parent="#accordion-4"
                           href="#accordion-collapse-accordion-4-2"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-4-2">
                            This is the first accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h3>
                        </div>

            <div id="accordion-collapse-accordion-4-2"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-4-2">
                <div class="panel-body">
                    This the content for the first accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
                    <div class="panel-heading" id="accordion-heading-accordion-4-3">
                                <h3 class="panel-title">
                    
                        <a data-toggle="collapse" data-parent="#accordion-4"
                           href="#accordion-collapse-accordion-4-3"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-4-3">
                            This is the second accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h3>
                        </div>

            <div id="accordion-collapse-accordion-4-3"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-4-3">
                <div class="panel-body">
                    This the content for the second accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
                    <div class="panel-heading" id="accordion-heading-accordion-4-4">
                                <h3 class="panel-title">
                    
                        <a data-toggle="collapse" data-parent="#accordion-4"
                           href="#accordion-collapse-accordion-4-4"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-4-4">
                            This is the third accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h3>
                        </div>

            <div id="accordion-collapse-accordion-4-4"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-4-4">
                <div class="panel-body">
                    This the content for the third accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
            </div>
</div>