<div class="site-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="university-name">
                    <a href="https://www.sfsu.edu">SAN FRANCISCO STATE UNIVERSITY</a> |
                </span>
                <span class="site-name">
<a href="http://sfsu.edu/">Center For Equity And Excellence In Teaching And Learning (CEETL)</a>                </span>
            </div>
        </div>
    </div>
</div>