.factoid-item-wrapper {
  margin-top: 2em;
}
.factoid-item {
  background-color: #330033;
  text-align: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;

  .highlight {
    font-size: 32px;
    color: #ffcc33;
  }
  .sub-text {
    font-size: 16px;
    color: #fff;
  }

  &.factoid-bottom-item {
    .highlight {
      color: #fff;
    }
    .sub-text {
      color: #ffcc33;
    }
  }
}
.factoid-mosaic-item {
  text-align: center;
  width: 100%;

  .highlight {
    font-size: 4em;
    color: #9A2250;
    font-weight: bold;
    padding: 20px;
  }
  .sub-text {
    font-size: 2em;
    color: #4D4D4D;
    padding: 20px;
  }
}