{% set classes = [
    'pl-component',
    'pl-component--factoid-item',
    'factoid-item'
] %}
<div class="col-sm-4">
    <div class="col-xs-10 col-xs-offset-1 factoid-item-wrapper">
        <div {{ attributes.addClass(classes) }}>
            <div class="highlight">{{ highlight }}</div>
            <div class="sub-text">{{ sub_text}}</div>
        </div>
    </div>
</div>

