<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<hr>

<h1 class="heading-large">Heading Large - Level 1</h1>
<h2 class="heading-large">Heading Large - Level 2</h2>
<h3 class="heading-large">Heading Large - Level 3</h3>
<h4 class="heading-large">Heading Large - Level 4</h4>

<hr>

<div class="heading-wrapper"><h1 class="heading-splash">Heading Splash - Level 1</h1></div>
<div class="heading-wrapper"><h2 class="heading-splash">Heading Splash - Level 2</h2></div>
<div class="heading-wrapper"><h3 class="heading-splash">Heading Splash - Level 3</h3></div>
<div class="heading-wrapper"><h4 class="heading-splash">Heading Splash - Level 4</h4></div>