{% set classes = [
    'pl-component',
    'pl-component--blockquote'
] %}
<blockquote {{ attributes.addClass(classes) }}>
    {% block blockquote_content %}
        {{ blockquote_content }}
    {% endblock %}
</blockquote>