h1 {
  &.heading-large, &.heading-splash {
    font-size: 42px;
  }
}
h2 {
  &.heading-large, &.heading-splash {
    font-size: 36px;
  }
}
h3 {
  &.heading-large, &.heading-splash {
    font-size: 26px;
  }
}

h1,h2,h3,h4 {
  &.heading-large, &.heading-splash {
    &:after {
      border-bottom: 10px solid #9A2250;
      margin-top: .1em;
      content: "";
    }
  }
  &.heading-large {
    &:after {
      display: block;
      width: 1.7em;
    }
  }
  &.heading-splash {
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
h2,h4 {
  &.heading-splash{
    &:after {
      width: 60%;
    }
  }
}
h1,h3 {
  &.heading-splash{
    &:after {
      width: 140%;
    }
  }
}
.heading-wrapper {
  margin-bottom: 2em;
  text-align: center;
}
.heading-splash {
  display: inline-block;
  position: relative;
}