a {
  outline: 1px;
  padding: 2px 1px 0;
  color: #330033;
  text-decoration: underline;

  &:visited {
    color: #565656;
  }

  &:hover, &:focus {
    text-decoration: none;
    background: #C2B3C2;
  }

  &:active {
    background: #330033;
    color: #330033;
  }
}