.pullquote {
  text-align: center;
  margin: 57px -30px;
  padding: 64px 20%;
  font-size: 36px;
  font-style: italic;
  color: #330033;
  min-height: 212px;
  background: rgba(221,221,221,0.35);

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

.pullquote-blockquote {
  padding: 1.25rem;
  margin: 3.125rem 12.5rem;
  font-size: 1.75em;
  font-style: italic;

  &.bar {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
  }

  &.quote::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: #dddddd;
  }

  @media screen and (max-width: 767px) {
    padding: 2rem;
    margin: 2rem 8rem;
  }
  @media screen and (max-width: 480px) {
    padding: 1rem;
    margin: 1rem 5rem;
    font-size: 22px;
  }
}
