.tags-item li {
  background-color: #DDDDDD;
  color: #000000;
  border-radius: 10px;
  padding: 2px 10px;
  line-height: 22px;
  display: inline-block;
}

.tags-item li a {
  text-decoration: none;
  background-color: transparent;
}

.tags-item li:hover {
  text-decoration: underline;
}

.tags-item li:active {
  background-color: #FFCC33;
}
