<div  class="row pl-component--nav-card-grid">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3"><div  class="pl-component pl-component--nav-card-icon navigation-card-icon">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/150x150" alt="Placeholder Text">
    <div class="card-icon-title">
        
<a href="http://sfsu.edu/">Nav Title</a>
    </div>
</div> </div>
            <div class="col-sm-3"><div  class="pl-component pl-component--nav-card-icon navigation-card-icon">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/150x150" alt="Placeholder Text">
    <div class="card-icon-title">
        
<a href="http://sfsu.edu/">Nav Title</a>
    </div>
</div> </div>
            <div class="col-sm-3"> <div  class="pl-component pl-component--nav-card-icon navigation-card-icon">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/150x150" alt="Placeholder Text">
    <div class="card-icon-title">
        
<a href="http://sfsu.edu/">Nav Title</a>
    </div>
</div></div>
            <div class="col-sm-3"><div  class="pl-component pl-component--nav-card-icon navigation-card-icon">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/150x150" alt="Placeholder Text">
    <div class="card-icon-title">
        
<a href="http://sfsu.edu/">Nav Title</a>
    </div>
</div> </div>
        </div>
    </div>
</div>