.pl-component--get-started.get-started {
  background-color: #f2f2f3;
  padding: 2em;
}
.pl-component--get-started.get-started-circle {
  background-image: url('../images/background-pattern-hex.png');
  padding: 2em;
}
