{% set classes = [
    'pl-component',
    'pl-component--get-started',
    'get-started'
] %}

<div {{ attributes.addClass(classes) }}>
    <div class="heading-wrapper">
        <h2 class="heading-splash">{{ title }}</h2>
    </div>
    <div class="get-started-wrapper">
        <div class="get-started-info">
            <div class="row">
                {{ get_started_info|raw }}
            </div>
        </div>
    </div>
</div>
