
<div  class="pl-component pl-component--card card card-horizontal green text-white">
    <div class="row ">

        <div class="col-sm-3">
            <div class="card-image">
                <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/250x250g" alt="Placeholder Text">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-body">
                                    <h2 class="card-title">Card Title</h2>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. This is a link to <a href="https://www.sfsu.edu">SF State</a>.</p>
                
<div  class="pl-component pl-component--button">
    <a class="btn btn-primary" href="http://sfsu.edu/">Read More</a>
</div>

            </div>
        </div>

    </div>
</div>