<div  class="pl-component pl-component--page-not-found page-not-found">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <p class="sfsu-404-title"><strong>404</strong></p>
            <p class="sfsu-404-text">Page Not Found</p>
        </div>
        <div class="col-sm-4">
            <img class="pl-component pl-component--img img-responsive img-default" src="../../images/gatorimage.png" alt="Gator logo for displaying page not found">
        </div>
    </div>

    <div class="pl-component pl-component--content-lead lead">
        <div class="row">
            <div class="pl-component col-sm-10 col-sm-offset-2">
                <p>The URL may be misspelled or the page may no longer be available.&nbsp; Try searching SF State below.</p>
            </div>
        </div>
    </div>
    <div class="pl-component">
        <form id="search-box" title="Search SF State" method="get" action="https://google.sfsu.edu/search" role="search" class="form-horizontal sfsu-404-search">
            <div class="form-group form-group-lg">
                <div class="col-sm-8 col-sm-offset-2 pl-component">
                    <input type="search" class="form-control" name="q" id="search" placeholder="Type keywords ...">
                </div>
                <div class="col-sm-2 text-left">
                    <button type="submit" class="btn btn-primary input-lg">Search</button>
                </div>
            </div>
        </form>
    </div>

</div>

