{% set classes = [
    'pl-component',
    'pl-component--pullquote',
    'pullquote-blockquote'
] %}
{% include "@atoms/02-text/_pullquote.twig" with {
    "pullquote_content": pullquote_content,
    "classes": classes
} %}