{% include "organisms-header" %}

<div class="main-nav">
    <header id="navbar" role="banner" class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                <span class="fa fa-bars"></span> Menu
            </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first"><a href="#" title="Services">Services</a></li>
                    <li><a href="#" title="People">People</a></li>
                    <li class="dropdown">
                        <a href="#" title="About" class="dropdown-toggle" data-toggle="dropdown">
                            About
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="first"><a href="#">Message from department</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

{% include "molecules-banner-caption" %}
{% include "molecules-intro" with { "intro_title" : "Intro" } %}
{% include "organisms-i-want-to" %}


<div class="heading-wrapper">
    <h2 class="heading-splash">News & Events</h2>
</div>

<div class="region region-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="view-header">
                <h3 class="heading-large">News Listing</h3>
            </div>
            <div class="view-content">
                {% include "organisms-news-listing" %}
            </div>
            <div class="view-content">
                {% include "organisms-news-listing" %}
            </div>
            <div class="view-content">
                {% include "organisms-news-listing" %}
            </div>
            <div class="more-link form-group">
                {% include "atoms-link" with {
                    "link_url": "/news",
                    "link_title": "More News"
                } %}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="view-header">
                <h3 class="heading-large">Events Listing</h3>
            </div>
            <div class="view-content">
                {% include "organisms-events-listing" %}
            </div>
            <div class="view-content">
                {% include "organisms-events-listing" %}
            </div>
            <div class="view-content">
                {% include "organisms-events-listing" %}
            </div>
            <div class="more-link form-group">
                {% include "atoms-link" with {
                    "link_url": "/news",
                    "link_title": "More Events"
                } %}
            </div>
        </div>
    </div>
</div>


{% include "organisms-spotlight" %}
{% include "organisms-college-footer" %}
{% include "organisms-university-footer" %}