{% set classes = [
    'pl-component',
    'pl-component--news-listing',
    'news-related-listing'
] %}

<div {{ attributes.addClass(classes) }}>
    {{ img | raw }}
    <div class="news-related-title">{{ news_title }}</div>
    <div class="news-date">{{ news_date }}</div>
</div>