.pl-component--news-headline-topfold.news-wrapper {
  position: relative;

  .news-author {
    font-style: italic;
    font-weight: bold;
  }

  .news-info {
    margin-top: 2em;

    .news-date {
      font-size: 0.9em;
    }

    .photo-credit {
      font-size: 0.8em;
    }
  }
}

.pl-component--news-listing.news-related-listing {
  width: 200px;

  .news-related-title {
    font-weight: bold;
    a { text-decoration: none; }
    a:hover, a:focus {
      text-decoration: underline;
      background: transparent;
    }
  }

  .news-date {
    font-size: 0.9em;
  }
}

.pl-component--news-listing.news-listing {
  .media-left {
    min-width: 76px;
  }

  .media-heading {
    font-size: 1.2em;
    font-weight: bold;

    a {
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
        background: transparent;
      }
    }
  }
}

.pl-component--news-listing.news-card-listing {
  max-width: 243px;

  .news-card-image {
    margin-bottom: -1em;
  }

  .news-card-title {
    background: #303;
    padding: 1em;
    border-radius: 0 0 1em 1em;

    a {
      color: #fff;
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
        background: transparent;
      }
    }
  }
}