{% set classes = [
    'pl-component',
    'pl-component--news-listing',
    'news-card-listing'
] %}


<div {{ attributes.addClass(classes) }}>
    <div class="news-card-image">
        {{ img|raw }}
    </div>

    <div class="news-card-title">
        {{ news_title|raw }}
    </div>
</div>