

<div  class="pl-component pl-component--news-listing news-card-listing">
    <div class="news-card-image">
        <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/243x243" alt="Placeholder Text">
    </div>

    <div class="news-card-title">
        
<a href="https://www.sfsu.edu">Writing Program Events and Professional Development</a>
    </div>
</div>