/*.responsive-img {
max-width: 100%;
height: auto;
}

.circle {
border-radius: 50%;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-thumbnail {
padding: .25rem;
background-color: #fff;
border: 1px solid #dee2e6;
border-radius: .25rem;
width: 150px;
  height: 150px;
}
*/