{% set footer_logo_image_path = footer_logo_image_path|default('/profiles/custom/sfstatedrupal/themes/custom/sfstatetemplate/patternlab/public/images/SFState_logo_color.jpg') %}

<footer class="footer">
    <div class="container" id="contact-university">
        <div id="footer-row" class="row">
            <div id="logo-university" class="col-sm-3">
                <img class="pull-right"
                     alt="San Francisco State University Logo"
                     src="{{ footer_logo_image_path }}">
            </div>
            <div id="values-university" class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.sfsu.edu/accessibility">Accessibility</a></li>
                    <li><a href="http://equity.sfsu.edu/">Equity & Community Inclusion</a></li>
                    <li><a href="http://sustain.sfsu.edu/">Environment & Sustainability</a></li>
                    <li><a href="https://its.sfsu.edu/privacynotice">Privacy Policy</a></li>
                    <li><a href="https://titleix.sfsu.edu/">Title IX</a></li>
                </ul>
            </div>
            <div id="contact-university" class="col-sm-3">
                <ul class="list-unstyled contact-info">
                    <li><a href="http://www.sfsu.edu/">San Francisco State
                            University</a></li>
                    <li><a href="http://www.calstate.edu/">A
                            California State University Campus</a></li>
                </ul>
            </div>
            <div id="social-media-icon-university" class="col-sm-3 social-icons clearfix">
                <ul class="list-inline pull-left media-icon">
                    <li><a href="https://www.facebook.com/sanfranciscostate" title="SF State Facebook">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Facebook</span>
                        </a>
                    </li>
                    <li><a href="https://twitter.com/SFSU" title="SF State Twitter">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Twitter</span>
                        </a>
                    </li>
                    <li><a href="http://instagram.com/sanfranciscostate" title="SF State Instagram">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-instagram fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Instagram</span>
                        </a>
                    </li>
                    <li><a href="http://www.linkedin.com/edu/san-francisco-state-university-17909"
                           title="SF State LinkedIn">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-linkedin fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>