
<div  class="pl-component pl-component--get-started get-started">
    <div class="heading-wrapper">
        <h2 class="heading-splash">Why College of Arts and Letters</h2>
    </div>
    <div class="get-started-wrapper">
        <div class="get-started-info">
            <div class="row">
                
<div class="col-sm-4">
    <div  class="pl-component pl-component--get-started-item get-started-item">
        <div  class="pl-component pl-component--get-started-item get-started-item pl-component--button">
    <a class="btn get-started-item-button" href="http://sfsu.edu">Programs</a>
</div>
    </div>
</div>
<div class="col-sm-4">
    <div  class="pl-component pl-component--get-started-item get-started-item">
        <div  class="pl-component pl-component--get-started-item get-started-item pl-component--button">
    <a class="btn get-started-item-button" href="http://sfsu.edu">Apply</a>
</div>
    </div>
</div>
<div class="col-sm-4">
    <div  class="pl-component pl-component--get-started-item get-started-item">
        <div  class="pl-component pl-component--get-started-item get-started-item pl-component--button">
    <a class="btn get-started-item-button" href="http://sfsu.edu">Programs</a>
</div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
