            
            
                
            
        
<div  class="pl-component pl-component--events-listing events-card-listing">
    <div class="event-card-image">
        <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/243x243" alt="Placeholder Text">
    </div>
    <div class="event-card-date">
        <div  class="pl-component pl-component--events-date">
    <div>Jan</div>
    <div>23</div>
</div>    </div>
    <div class="event-card-title">
        
<a href="https://www.sfsu.edu">GatorFest! KICK-OFF! & Entering Year Pin Ceremony</a>
    </div>
</div>