{% set classes = [
    'pl-component',
    'pl-component--hero'
] %}
<div {{ attributes.addClass(classes) }}>
    {{ img|raw }}
    {% if (caption_title|render is not empty) or (caption_body|render is not empty) %}
        <div class="pl-component pl-component--img-caption">
            <h2>{{ caption_title }}</h2>
            {{ caption_body }}
        </div>
    {% endif %}
    {% if btn|render is not empty %}
        <div class="container{% if img|render is not empty %} call-to-action-hero-wrapper{% endif %}">
            <div class="pl-component--call-to-action call-to-action btn-group pull-right">
                {{ btn | raw }}
            </div>
        </div>
    {% endif %}
</div>