.pl-component.pl-component--hero {
  position: relative;

  img {
    width: 100%;
  }
}

.pl-component.pl-component--img-caption {
  position: absolute;
  color: #ffffff;
  background-color: rgba(51, 0, 51, 0.88);
  top: 60%;
  padding: 1em 2em 2em;
  width: 551px;
  height: 110px;
  margin-left: 10%;
  margin-right: 10%;
  border-left-color: #ffcc33;
  border-left-style: solid;
  border-left-width: 5px;

  h2 {
    color: #ffffff;
    margin-top: 5px;
    font-size: 1.5em;

    @media screen and (min-width: 450px) and (max-width: 767px) {
      font-size: 1.2em;
    }

    @media screen and (max-width: 449px) {
      font-size: 1em;
    }
  }

  p, a {
    color: #ffffff;
  }

  @media screen and (max-width: 299px) {
    top: 8%;
    left: 40%;
    width: 45%;
    height: auto;
    font-size: 40%;
    border-left-width: 1px;
  }

  @media screen and (min-width: 300px) and (max-width: 349px) {
    top: 10%;
    left: 38%;
    width: 50%;
    height: auto;
    font-size: 50%;
    border-left-width: 1px;
  }

  @media screen and (min-width: 350px) and (max-width: 399px) {
    top: 20%;
    left: 35%;
    width: 55%;
    height: auto;
    font-size: 60%;
    border-left-width: 1px;
  }

  @media screen and (min-width: 400px) and (max-width: 449px) {
    top: 20%;
    left: 25%;
    width: 60%;
    height: auto;
    font-size: 70%;
    border-left-width: 2px;
  }

  @media screen and (min-width: 450px) and (max-width: 499px) {
    top: 25%;
    left: 20%;
    width: 65%;
    height: auto;
    font-size: 75%;
    border-left-width: 2px;
  }

  @media screen and (min-width: 500px) and (max-width: 767px) {
    top: 35%;
    left: 15%;
    width: 70%;
    height: auto;
    font-size: 80%;
    border-left-width: 3px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    bottom: 20%;
    width: 80%;
    font-size: 85%;
  }
}

.pl-component--call-to-action.call-to-action , .pl-component--call-to-action-hero.call-to-action-hero {
  margin-bottom: 0px;
  .pl-component--button {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .call-to-action-hero-wrapper {
    z-index: 10;
    position: absolute;
    top: 1em;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 767px) {
  .call-to-action-hero-wrapper {
    margin-bottom: 0em;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: relative;

    div.btn {
      padding-top: 0em;
      padding-bottom: 0em;
    }
  }

}