{% set classes = [
    'pl-component',
    'pl-component--card',
    'card',
    'card-vertical'
] %}
{% include "@organisms/01-cards/_basic-card.twig" with {
    "classes": classes,
    "title_exists": title_exists,
    "img": img,
    "card_title": card_title,
    "card_content": card_content,
    "btn": btn
} %}
