<div  class="pl-component pl-component--card card card-vertical">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/250x250" alt="Placeholder Text">
    <div class="card-body">
                    <h2 class="card-title">Card Title</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
<div  class="pl-component pl-component--button">
    <a class="btn btn-primary" href="http://sfsu.edu/">Go Somewhere</a>
</div>

    </div>
</div>