{% set classes = [
    'pl-component',
    'pl-component--card',
    'card',
    'card-horizontal',
    'red',
    'text-white'
] %}

{% include "@organisms/01-cards/_horizontal-card.twig" with {
    "classes": classes,
    "title_exists": title_exists,
    "img": img,
    "card_title": card_title,
    "card_content": card_content,
    "btn": btn
} %}