<div class="pl-component pl-component--tabs-image">
    <ul class="nav row" role="tablist">
        <li role="presentation" class="col-xs-3 active">
            <div class="tabs-image-wrapper">
                <img class="img-responsive" src="https://via.placeholder.com/320x225" alt="">
                <img class="nav-card-chevron active" src="../../images/chevron-middle.png" alt="">
                <img class="nav-card-chevron inactive" src="../../images/nonchevron.png" alt="">
                <div class="tabs-image-title">
                    <a href="#64 " aria-controls="64" data-toggle="tab">Your Unique Path in Life</a>
                </div>
            </div>
        </li>
        <li role="presentation" class="col-xs-3">
            <div class="tabs-image-wrapper">
                <img class="img-responsive" src="https://via.placeholder.com/320x225" alt="">
                <img class="nav-card-chevron active" src="../../images/chevron-middle.png" alt="">
                <img class="nav-card-chevron inactive" src="../../images/nonchevron.png" alt="">
                <div class="tabs-image-title">
                    <a href="#66 " aria-controls="66" data-toggle="tab">Endless Opportunities</a>
                </div>
            </div>
        </li>
        <li role="presentation" class="col-xs-3">
            <div class="tabs-image-wrapper">
                <img class="img-responsive" src="https://via.placeholder.com/320x225" alt="">
                <img class="nav-card-chevron active" src="../../images/chevron-middle.png" alt="">
                <img class="nav-card-chevron inactive" src="../../images/nonchevron.png" alt="">
                <div class="tabs-image-title">
                    <a href="#67 " aria-controls="67" data-toggle="tab">Passionate Professors</a>
                </div>
            </div>
        </li>
        <li role="presentation" class="col-xs-3">
            <div class="tabs-image-wrapper">
                <img class="img-responsive" src="https://via.placeholder.com/320x225" alt="">
                <img class="nav-card-chevron active" src="../../images/chevron-middle.png" alt="">
                <img class="nav-card-chevron inactive" src="../../images/nonchevron.png" alt="">
                <div class="tabs-image-title">
                    <a href="#68 " aria-controls="68" data-toggle="tab">Alumni Success</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="64">
            <h2>
                <div class="field field-name-field-reveal-title field-type-text field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">Discover your unique path in life.</div>
                    </div>
                </div>
            </h2>
            <div class="field field-name-field-description field-type-text-long field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><p>We continually create opportunities for you to discover your
                            unique path in life. With 73 degrees and more than 500 courses that combine learning
                            with real-world experience, it’s no wonder our University’s motto is “Experientia
                            Docet,” or experience teaches. At San Francisco State University, you’ll put your
                            passion into action.</p>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="66">
            <h2>
                <div class="field field-name-field-reveal-title field-type-text field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">Explore the amazing opportunities only San Francisco State can
                            offer.
                        </div>
                    </div>
                </div>
            </h2>
            <div class="field field-name-field-description field-type-text-long field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><p>From your first steps on campus, you’ll be encouraged to speak
                            up, step out and immerse yourself in all the opportunities an San Francisco State
                            education can bring: job opportunities, internships, scholarships, community service
                            adventures, social justice activism and interdisciplinary collaboration with students
                            from every country in the world — not to mention the exciting experience of living in
                            San Francisco.</p>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="67">
            <h2>
                <div class="field field-name-field-reveal-title field-type-text field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">Our professors have one shared passion: mentoring students.
                        </div>
                    </div>
                </div>
            </h2>
            <div class="field field-name-field-description field-type-text-long field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><p>You’ll never get more attention from your teachers than at SF
                            State. With average class sizes of fewer than 30 students, professors are available for
                            one-on-one time with students. Because our professors understand students don’t all
                            learn the same way, they work to tailor the learning process for you. Not only are they
                            great teachers, they are masters in their fields.</p>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="68">
            <h2>
                <div class="field field-name-field-reveal-title field-type-text field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">Graduates of San Francisco State University have helped change
                            the world.
                        </div>
                    </div>
                </div>
            </h2>
            <div class="field field-name-field-description field-type-text-long field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><p>From San Francisco State, our graduates can go anywhere. Our
                            alumni are leaders in journalism, creative writing, film, technology, science, business,
                            government and education. Our alumni have won 20 Pulitzers, 16 Oscars, 48 Emmys, 10
                            Grammys and 12 Tonys. SF State is consistently one of the top feeder schools for
                            employees at Apple, Google, Kaiser Permanente, Wells Fargo, Genentech, Oracle, the San
                            Francisco Unified School District and the city and county of San Francisco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>