.vertical-tabs {
  .nav {
    li {
      font-size: 1.5em;
      a {
        background-color: #707070;
        color: #fff;
        text-transform: uppercase;
        padding: 20px;
        border: 0px;
        border-radius: 0px;
        margin: 0px;
        text-decoration: none;

        &:hover,&:active,&:focus {
          background-color: #ffcc33;
          color: #330033;
          border: 0px;
        }
      }
      &.active {
        a {
          background-color: #ffcc33;
          color: #330033;
          padding: 20px;
          border: 0px;
          border-radius: 0px;

          &:hover,&:active,&:focus {
            background-color: #ffcc33;
            color: #330033;
            border: 0px;
          }
        }
      }
    }
  }
  .tab-content {
    padding: 30px;
    background-color: #F2F2F3;
    color:#4D4D4D;
  }
  &.teal {
    .nav {
      a {
        background-color: #1D7091;
      }
    }
  }
  @media (min-width: 992px) {
    .nav {
      li {
        &.active {
          &:before {
            content: '';
            display: block;
            border-top: 12px solid transparent;
            border-left: 15px solid #ffcc33;
            border-bottom:12px solid transparent;
            position: absolute;
            top: 50%;
            right: -15px;
            transform: translateY(-50%);
            z-index: 10;
          }
        }
      }
    }
    .tab-content {
      margin-left: -30px;
      padding-left: 45px;
    }
  }
}

.pl-component--tabs-image {

  .tabs-image-wrapper {
    position: relative;
  }

  .tabs-image-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.45);
    }
  }

  ul.nav {

    a {
      position: absolute;
      left: 0;
      color: #ffffff;
      font-size: 1.6em;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding-top: 25%;

      &:hover, &:focus {
        background: none;
      }
    }

    .active .nav-card-chevron.active, .nav-card-chevron.inactive {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: unset;
    }

    .active .nav-card-chevron.inactive, .nav-card-chevron.active {
      display: none;
    }

    .nav-card-chevron {
      z-index: 1;
    }

    img {
      width: 100%;
      margin-bottom: 0px;
    }
  }

  .tab-content {
    border-left: 2px solid rgb(223, 223, 223);
    border-right: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    margin-bottom: 2em;
    padding: 2em;
  }
  @media screen and (max-width: 767px) {
    ul.nav {

      .active .tabs-image-title {
        background-color: #ffcc33;

        &:hover {
          background-color: #ffcc33;
        }
      }

      .tabs-image-title {
        background-color: #330033;

        &:hover {
          background-color: #330033;
        }
      }

      li.col-xs-3, li.col-xs-4 {
        padding-left: 0.1em;
        padding-right: 0.1em;
      }

      a {
        font-size: 0.85em;
        font-weight: 600;
      }
    }
  }
  @media screen and (max-width: 480px) {
    ul.nav {
      a {
        padding-top: 1%;
      }
    }
  }
}