.pl-component.pl-component--accordion {
  .panel.panel-default {
    margin-top: 1em;
  }
  .panel-title {
    font-size: 18px;
    color: #fff;
    background: #707070;
    padding: 0;
    a {
      text-decoration: none;
      width: 100%;
      display: inline-block;
      padding: 25px;
      &:hover, &:focus {
        color: #303;
        background: #fc3;
      }
      &:visited {
        color: unset;
      }
    }
    a[aria-expanded="true"] {
      background: #fc3;
      color: #303;
      span.accordion-icon::before {
        content: "\f068";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
    a[aria-expanded="false"] {
      span.accordion-icon::before {
        content: "\f067";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
  }
  .panel-body {
    background: #f2f2f3;
    color: #4d4d4d;
    padding: 3%;
  }
}