.site-info {
  background: #231161;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;


  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background: none;
    }

    &:focus {
      border-bottom: none;
      background: none;
      text-decoration: underline;
    }
  }

  .university-name {
    letter-spacing: 2px;
  }

  .site-name {
    font-size: 18px;
  }
}