<div class="site-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="university-name">
                    <a href="https://www.sfsu.edu">SAN FRANCISCO STATE UNIVERSITY</a> |
                </span>
                <span class="site-name">{% include "@atoms/02-text/08-link.twig" with {
                    "link_url": link_url,
                    "link_title": link_title
                } %}
                </span>
            </div>
        </div>
    </div>
</div>