{% set classes = [
    'pl-component',
    'pl-component--video',
    'embed-responsive',
    video_class ? video_class
] %}

{% set prefix = '' %}
{% if video_src %}

    {% if video_src matches '/^https*\\:\\/\\/www\\.youtube\\.com\\/watch\\?v\\=/' %}
        {% set id = video_src | split('=') | last %}
        {% set prefix = 'https://www.youtube.com/embed/' %}
    {% endif %}

    {% if video_src matches '/^https*\\:\\/\\/youtu\\.be/' %}
        {% set id = video_src | split('/') | last %}
        {% set prefix = 'https://www.youtube.com/embed/' %}
    {% endif %}

    {% if video_src matches '/^https*\\:\\/\\/vimeo\\.com/' %}
        {% set id = video_src | split('/') | last %}
        {% set prefix = 'https://player.vimeo.com/video/' %}
    {% endif %}

    {% if id is defined and id is not empty %}
        {% set embed_url = prefix ~ id %}

        <div {{ attributes.addClass(classes) }}>
            <iframe class="embed-responsive-item" title="Video - Id: {{ id }}" src="{{ embed_url }}"></iframe>
        </div>

    {% endif %}

{% endif %}
