{% set classes = [
    'pl-component',
    'pl-component--paragraph'
] %}
<p {{ attributes.addClass(classes) }} >
    {% block paragraph_content %}
        {{ paragraph_content }}
    {% endblock %}
</p>