{% set btn_link = btn_link|replace({('internal:'):''}) %}
{% set btn_link = btn_link|replace({('entity:'):'/'}) %}

{% include "@molecules/02-buttons/_button.twig" with {
    "btn_class": "btn-primary",
    "btn_link": btn_link,
    "btn_text": btn_text
} %}