<div  class="pl-component pl-component--content-intro intro" >
    <div class="heading-wrapper">
        <h1 class="heading-splash">COLLEGE OF ARTS & LETTERS</h1>
    </div>
   <div  class="pl-component pl-component--content-lead lead" >
            A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    </div>
</div>