{% set classes = [
    'pl-component',
    'pl-component--content-intro',
    'intro'
] %}
<div {{ attributes.addClass(classes) }} >
    <div class="heading-wrapper">
        <h1 class="heading-splash">{{ intro_title }}</h1>
    </div>
   {{ intro_content | raw }}
</div>