{% set classes = [
    'pl-component',
    'pl-component--news-headline-topfold',
    'news-wrapper'
] %}

<div {{ attributes.addClass(classes) }}>
    {%  if news_title %}
        <h1>{{ news_title }}</h1>
    {% endif %}
    <div class="news-author">Author: {{ news_author }}</div>
    <div class="news-info">
        <div class="news-date">{{ news_date }}</div>
        {% if img|render is not empty %}
            {{ img | raw }}
            {% if photo_credit|render is not empty %}
                <div class="pull-right photo-credit">Photo Credit: {{ photo_credit }}</div>
            {% endif %}
        {% endif %}
    </div>
</div>