
<div  class="pl-component pl-component--news-headline-topfold news-wrapper">
            <h1>Chair Petra Deken Co-author of Study on Gender Bias</h1>
        <div class="news-author">Author: Jane Doe</div>
    <div class="news-info">
        <div class="news-date">May 2, 2019</div>
            </div>
</div>