footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #666666;
  color: #ffffff;

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: #ffffff;
      text-decoration: underline;
      background: none;
    }

    &:visited {
      color: #ffffff;
    }
  }

  #contact-university {
    .contact-info {
      text-align: left;
    }
  }

  .fa-inverse {
    color: #666666;
  }

  @media only screen and (max-width: 767px) {
    #footer-row {
      column-count: 1;
      padding: 1em 2em;
    }
    #logo-university, #values-university, #contact-university, #social-media-icon-university
    {
      display: inline-block;
    }

    #social-media-icon-university {
      padding-top: 0.5em;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    #social-media-icon-university {
      white-space: nowrap;
    }
  }
}

.footer-local {
  background-color: #ebebea;

  h2, h3, h4 {
    color: #666666;
  }

  h2 {
    font-size: 19px;
  }

  a {
    color: #666666;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: #666666;
      text-decoration: underline;
      background: none;
    }

    &:visited {
      color: #666666;
    }
  }

  #footer-row {
    padding-bottom: 1.5em;
  }

  .college-social-icon {
    a {
      color: #ffffff;
    }

    .fa-inverse {
      color: #666666;
    }
  }
}

.footer {
  margin-top: 0em;
  border-top: none;
}

