{% set classes = [
    'pl-component',
    'pl-component--spotlight',
    'i-want-to-section',
] %}


<div {{ attributes.addClass(classes) }}>
    <div class="heading-wrapper">
        <h2 class="heading-splash">{{ title }}</h2>
    </div>

    <nav class="navbar">

        <ul class="navbar-list">
           {% if nav_card %}
               {{ nav_card | raw }}
            {% endif %}
        </ul>

    </nav>



</div>