

<div  class="pl-component pl-component--spotlight i-want-to-section">
    <div class="heading-wrapper">
        <h2 class="heading-splash">I WANT TO ...</h2>
    </div>

    <nav class="navbar">

        <ul class="navbar-list">
                          <li class="navbar-item">
<a href="http://sfsu.edu/">Make a Payment</a></li>
<li class="navbar-item">
<a href="http://sfsu.edu/">Get a Refund</a></li>
<li class="navbar-item">
<a href="http://sfsu.edu/">Obtain My 1098</a></li>
<li class="navbar-item">
<a href="http://sfsu.edu/">Check My Status</a></li>

                    </ul>

    </nav>



</div>