{% include "organisms-header" %}

<div class="main-nav">
    <header id="navbar" role="banner" class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                <span class="fa fa-bars"></span> Menu
            </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first"><a href="#" title="Academics">Academics</a></li>

                    <li><a href="#" title="Resources">Resources</a></li>
                    <li><a href="#" title="People">People</a></li>
                    <li class="dropdown">
                        <a href="#" title="About" class="dropdown-toggle" data-toggle="dropdown">
                            About
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="first"><a href="#">Message from department</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

{% include "molecules-banner" %}
<div class="main-container container">
    <div class="row">
        <section class="col-md-12">
            <div class="region region-content">
                <h1 class="heading-large">About Us</h1>
                {% include "atoms-paragraph" %}
                <br />
                <div class="row">
                    <div class="col-md-6">
                        {% include "molecules-image-default" with {
                            "img_src": "https://via.placeholder.com/350x250"
                        }%}
                    </div>
                    <div class="col-md-6">
                        <h2>Our Mission</h2>
                        {% include "atoms-paragraph" %}
                        {% include "atoms-paragraph" %}
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <h2>Our Vision</h2>
                        {% include "atoms-paragraph" %}
                        {% include "atoms-paragraph" %}
                    </div>
                    <div class="col-md-6">
                        {% include "molecules-image-default" with {
                            "img_src": "https://via.placeholder.com/350x250"
                        }%}
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        {% include "molecules-image-default" with {
                            "img_src": "https://via.placeholder.com/350x250"
                        }%}
                    </div>
                    <div class="col-md-6">
                        <h2>Our Goals</h2>
                        {% include "atoms-paragraph" %}
                        {% include "atoms-paragraph" %}
                    </div>
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-large">Explore the College</h2>
                </div>
                <div class="col-md-4">
                    {% include "molecules-image-default" with {
                        "img_src": "https://via.placeholder.com/250x250"
                    }%}
                    <strong>Programs</strong>
                    {% include "atoms-paragraph" %}
                </div>
                <div class="col-md-4">
                    {% include "molecules-image-default" with {
                        "img_src": "https://via.placeholder.com/250x250"
                    }%}
                    <strong>Research</strong>
                    {% include "atoms-paragraph" %}
                </div>
                <div class="col-md-4">
                    {% include "molecules-image-default" with {
                        "img_src": "https://via.placeholder.com/250x250"
                    }%}
                    <strong>People</strong>
                    {% include "atoms-paragraph" %}
                    <br />
                </div>
            </div>
        </section>
    </div>
</div>


{% include "organisms-college-footer" %}
{% include "organisms-university-footer" %}