<div  class="pl-component pl-component--hero">
    
                <div class="container">
            <div class="pl-component--call-to-action call-to-action btn-group pull-right">
                
<div class="btn">
    <div  class="pl-component pl-component--button">
    <a class="btn btn-call-to-action" href="http://sfsu.edu/">Apply</a>
</div>
</div>

<div class="btn">
    <div  class="pl-component pl-component--button">
    <a class="btn btn-call-to-action" href="http://sfsu.edu/">Visit</a>
</div>
</div>

            </div>
        </div>
    </div>