{% set classes = [
    'pl-component',
    'pl-component--student-resources',
    'student-resources',
    'row'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="{{ url }}">
                        <img class="media-object" src="{{ img_url }}" alt="Logo for {{ title }}">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ title }}</h3>
                    <div class="wrap pb-2"><div class="left"></div><div class="right"></div></div>
                    <p class="">{{ description }}</p>
                    <span><a href="{{ url }}">Visit {{ title }}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>