<div  class="pl-component pl-component--student-resources student-resources row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="https://studentresources.sfsu.edu/resources?spotlight=6">
                        <img class="media-object" src="https://studentresources.sfsu.edu/files/881/imagesrc" alt="Logo for Asian American and Pacific Islander Retention and Education">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Asian American and Pacific Islander Retention and Education</h3>
                    <div class="wrap pb-2"><div class="left"></div><div class="right"></div></div>
                    <p class="">The goal of ASPIRE is to improve and expand SF State’s capacity to serve high-need Asian American and Native American Pacific Islanders (AANAPI) and low-income degree-seeking undergraduate students, improve the learning environment, and strengthen academic outcomes.</p>
                    <span><a href="https://studentresources.sfsu.edu/resources?spotlight=6">Visit Asian American and Pacific Islander Retention and Education</a></span>
                </div>
            </div>
        </div>
    </div>
</div>