<div class="container-fluid">
    <div id="header" class="row">
        <div id="site-section" class="col-md-7">
            <div class="site-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="university-name">
                    <a href="https://www.sfsu.edu">SAN FRANCISCO STATE UNIVERSITY</a> |
                </span>
                <span class="site-name">
<a href="http://sfsu.edu/">SF State Website - Base Template</a>                </span>
            </div>
        </div>
    </div>
</div>        </div>
        <div id="utility-section" class="col-md-5">
            <div id="utilitybox" class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://www.sfsu.edu/atoz/">A–Z</a>
                    </li>
                    <li><a href="http://www.sfsu.edu/calendar/">Calendar</a>
                    </li>
                    <li><a href="http://www.sfsu.edu/login.htm">Login</a>
                    </li>
                    <li>
                        <form id="search-box" title="Search SF State" method="get"
                              action="https://google.sfsu.edu/search"
                              role="search">
                            <div class="input-group">
                                <label for="search" class="sr-only sr-only-focusable">Search
                                    SF State</label>
                                <input type="text" name="q" id="search" class="form-control text-center"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button class="btn" type="submit">
                                        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                                        <span class="sr-only sr-only-focusable">Search SF State Button</span>
                                    </button>
                                </div>
                            </div>
                            <label class="radio-inline">
                                <input type="radio" name="top-search" value="global">SF
                                State
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="top-search" checked="checked" value="local">This Site
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-nav">
    <header id="navbar" role="banner" class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span> Menu
            </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first"><a href="#" title="Undergraduate">Undergraduate</a></li>
                    <li><a href="#" title="Graduate">Graduate</a></li>
                    <li><a href="#" title="Resources">Resources</a></li>
                    <li><a href="#" title="People">People</a></li>
                    <li class="dropdown">
                        <a href="#" title="About" class="dropdown-toggle" data-toggle="dropdown">
                            About
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="first"><a href="#">Message from department</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<div  class="pl-component pl-component--hero">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/1920x600" alt="Girl Smiling">
            <div class="pl-component pl-component--img-caption">
            <h2>Caption for this image</h2>
            This is the caption body. We would typically keep is brief and not exceeding couple of lines.
        </div>
        </div><div  class="pl-component pl-component--content-intro intro" >
    <div class="heading-wrapper">
        <h1 class="heading-splash">Intro</h1>
    </div>
   <div  class="pl-component pl-component--content-lead lead" >
            A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    </div>
</div>
<div  class="pl-component pl-component--factoid mosaic mosaic-section">
    <div class="heading-wrapper">
        <h2 class="heading-splash">Pitch (Factoid) - Mosaic</h2>
    </div>
    <div class="factoid-mosaic-wrapper">
        <div class="factoid-mosaic-image col-sm-3 col-xs-6">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x586" alt="Placeholder Text">
        </div>
        <div class="factoid-mosaic-image col-sm-3 col-xs-6">
            <div class="factoid-mosaic-image-short">
                <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x293" alt="Placeholder Text">
            </div>
            <div class="factoid-mosaic-image-short">
                <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x293" alt="Placeholder Text">
            </div>
        </div>
        <div class="factoid-mosaic-info col-sm-3 col-xs-12">
            <div  class="pl-component pl-component--factoid-mosaic-item factoid-mosaic-item">
    <div class="highlight">Top 5</div>
    <div class="sub-text">Student info</div>
</div>


        </div>
        <div class="factoid-mosaic-image col-sm-3 col-xs-12">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/320x586" alt="Placeholder Text">
        </div>
    </div>
</div>

<div  class="pl-component pl-component--get-started get-started get-started-circle">
    <div class="heading-wrapper">
        <h2 class="heading-splash">Get Started - Circle</h2>
    </div>
    <div class="get-started-wrapper">
        <div class="get-started-info">
            <div class="row">
                
<div class="col-sm-4">
    <div  class="pl-component pl-component--get-started-item get-started-circle-item">
        <div  class="pl-component pl-component--get-started-item get-started-circle-item pl-component--button">
    <a class="btn get-started-circle-item-button" href="http://sfsu.edu">Programs</a>
</div>
    </div>
</div>
<div class="col-sm-4">
    <div  class="pl-component pl-component--get-started-item get-started-circle-item">
        <div  class="pl-component pl-component--get-started-item get-started-circle-item pl-component--button">
    <a class="btn get-started-circle-item-button" href="http://sfsu.edu">Apply</a>
</div>
    </div>
</div>
<div class="col-sm-4">
    <div  class="pl-component pl-component--get-started-item get-started-circle-item">
        <div  class="pl-component pl-component--get-started-item get-started-circle-item pl-component--button">
    <a class="btn get-started-circle-item-button" href="http://sfsu.edu">Programs</a>
</div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>

<div class="heading-wrapper">
    <h2 class="heading-splash">News & Events</h2>
</div>

<div class="region region-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="view-header">
                <h3 class="heading-large">News Listing</h3>
            </div>
            <div class="view-content">
                
<ul  class="pl-component pl-component--news-listing news-listing list-unstyled">
    <li class="media">
                <div class="media-left"><img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/76x76" alt="Placeholder Text"></div>
                <div class="media-body">
            <div class="media-heading">Chair Petra Deken Co-author of Study on Gender Bias</div>
            <div>Puglia's most famous sight is the unique conical houses (Trulli) found in the area around Alberobello, a declared UNESCO World Heritage Site. Well - you need to fix the width to display the image, so once you fix the width you need to make sure the image fix within the assigned width. So, I suggest you should add the fix width like for example 25% so any of the image you want to display should be displayed within the assigned width. </div>
        </div>
    </li>
</ul>            </div>
            <div class="view-content">
                
<ul  class="pl-component pl-component--news-listing news-listing list-unstyled">
    <li class="media">
                <div class="media-left"><img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/76x76" alt="Placeholder Text"></div>
                <div class="media-body">
            <div class="media-heading">Chair Petra Deken Co-author of Study on Gender Bias</div>
            <div>Puglia's most famous sight is the unique conical houses (Trulli) found in the area around Alberobello, a declared UNESCO World Heritage Site. Well - you need to fix the width to display the image, so once you fix the width you need to make sure the image fix within the assigned width. So, I suggest you should add the fix width like for example 25% so any of the image you want to display should be displayed within the assigned width. </div>
        </div>
    </li>
</ul>            </div>
            <div class="view-content">
                
<ul  class="pl-component pl-component--news-listing news-listing list-unstyled">
    <li class="media">
                <div class="media-left"><img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/76x76" alt="Placeholder Text"></div>
                <div class="media-body">
            <div class="media-heading">Chair Petra Deken Co-author of Study on Gender Bias</div>
            <div>Puglia's most famous sight is the unique conical houses (Trulli) found in the area around Alberobello, a declared UNESCO World Heritage Site. Well - you need to fix the width to display the image, so once you fix the width you need to make sure the image fix within the assigned width. So, I suggest you should add the fix width like for example 25% so any of the image you want to display should be displayed within the assigned width. </div>
        </div>
    </li>
</ul>            </div>
            <div class="more-link form-group">
                
<a href="/news">More News</a>            </div>
        </div>

        <div class="col-sm-4">
            <div class="view-header">
                <h3 class="heading-large">Events Listing</h3>
            </div>
            <div class="view-content">
                            
            
                
            
        
<ul  class="pl-component pl-component--events-listing events-listing list-unstyled">
    <li class="media">
        <div class="media-left">
            <div  class="pl-component pl-component--events-date">
    <div>Jan</div>
    <div>23</div>
</div>        </div>
        <div class="media-body">
            <div class="media-heading">
<a href="https://www.sfsu.edu">GatorFest! KICK-OFF! & Entering Year Pin Ceremony</a></div>
            <div>Thu, January 23, 05:00 p.m.</div>
            <div>West Campus Green</div>
        </div>
    </li>
</ul>            </div>
            <div class="view-content">
                            
            
                
            
        
<ul  class="pl-component pl-component--events-listing events-listing list-unstyled">
    <li class="media">
        <div class="media-left">
            <div  class="pl-component pl-component--events-date">
    <div>Jan</div>
    <div>23</div>
</div>        </div>
        <div class="media-body">
            <div class="media-heading">
<a href="https://www.sfsu.edu">GatorFest! KICK-OFF! & Entering Year Pin Ceremony</a></div>
            <div>Thu, January 23, 05:00 p.m.</div>
            <div>West Campus Green</div>
        </div>
    </li>
</ul>            </div>
            <div class="view-content">
                            
            
                
            
        
<ul  class="pl-component pl-component--events-listing events-listing list-unstyled">
    <li class="media">
        <div class="media-left">
            <div  class="pl-component pl-component--events-date">
    <div>Jan</div>
    <div>23</div>
</div>        </div>
        <div class="media-body">
            <div class="media-heading">
<a href="https://www.sfsu.edu">GatorFest! KICK-OFF! & Entering Year Pin Ceremony</a></div>
            <div>Thu, January 23, 05:00 p.m.</div>
            <div>West Campus Green</div>
        </div>
    </li>
</ul>            </div>
            <div class="more-link form-group">
                
<a href="/news">More Events</a>            </div>
        </div>
    </div>
</div>


<div  class="pl-component pl-component--spotlight spotlight-section">
    <div class="heading-wrapper">
        <h2 class="heading-splash">SPOTLIGHT ON A&L</h2>
    </div>
    <div class="row">
        <div class="col-sm-6"> 
<div  class="pl-component pl-component--card card-spotlight-primary">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x400" alt="Placeholder Text">
    <h3 class="card-title">Spotlight Title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. The image and text are justified.<br><a href='#'>Learn More about Spotlight</a></p>
</div> </div>
        <div class="col-sm-6">
            <div class="spotlight-cards">
                <div  class="pl-component pl-component--nav-card navigation-card">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x240" alt="Placeholder Text">
    <div class="overlay">
        
<a href="http://sfsu.edu/">The case for Diversity</a>
    </div>
</div>
                <div  class="pl-component pl-component--nav-card navigation-card">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/520x240" alt="Placeholder Text">
    <div class="overlay">
        
<a href="http://sfsu.edu/">Every Picture Tells a Story</a>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
<div class="footer-local">
    <div class="container">
        <div id="footer-row" class="row">
            <div class="col-sm-3">
                <div id="footer-contact">
                    <h2>Contact</h2>
                    <ul class="list-unstyled">
                        <li>Email: service@sfsu.edu</li>
                    </ul>
                    <ul class="list-inline college-social-icon">
                        <li><a href="https://www.facebook.com/sanfranciscostate" title="Facebook">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Facebook</span>
                            </a></li>
                        <li><a href="https://twitter.com/SFSU" title="Twitter">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Twitter</span>
                            </a></li>
                        <li><a href="http://instagram.com/sanfranciscostate" title="Instagram">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-instagram fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Instagram</span>
                            </a></li>
                        <li><a href="http://www.linkedin.com/edu/san-francisco-state-university-17909"
                               title="LinkedIn">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-linkedin fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">LinkedIn</span>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-location">
                    <h2>Location</h2>
                    1600 Holloway Avenue<br>
                    San Francisco<br>
                    CA 94132<br>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-hours">
                    <h2>Office Hours</h2>
                    Monday through Friday 9 - 5<br>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://develop.sfsu.edu/makeagift">Donate to SF State</a></li>
                        <li><a href="http://advising.sfsu.edu/">Undergraduate Advising</a></li>
                        <li><a href="http://grad.sfsu.edu/content/advising/">Graduate Advising</a></li>
                        <li><a href="http://access.sfsu.edu/">Disability Programs &amp; Resources Center</a></li>
                        <li><a href="http://alumni.sfsu.edu/">Alumni Relations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container" id="contact-university">
        <div id="footer-row" class="row">
            <div id="logo-university" class="col-sm-3">
                <img class="pull-right"
                     alt="San Francisco State University Logo"
                     src="../../images/SFState_logo_color.jpg">
            </div>
            <div id="values-university" class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.sfsu.edu/accessibility">Accessibility</a></li>
                    <li><a href="http://equity.sfsu.edu/">Equity & Community Inclusion</a></li>
                    <li><a href="http://sustain.sfsu.edu/">Environment & Sustainability</a></li>
                    <li><a href="https://its.sfsu.edu/privacynotice">Privacy Policy</a></li>
                    <li><a href="https://titleix.sfsu.edu/">Title IX</a></li>
                </ul>
            </div>
            <div id="contact-university" class="col-sm-3">
                <ul class="list-unstyled contact-info">
                    <li><a href="http://www.sfsu.edu/">San Francisco State
                            University</a></li>
                    <li><a href="http://www.calstate.edu/">A
                            California State University Campus</a></li>
                </ul>
            </div>
            <div id="social-media-icon-university" class="col-sm-3 social-icons clearfix">
                <ul class="list-inline pull-left media-icon">
                    <li><a href="https://www.facebook.com/sanfranciscostate" title="SF State Facebook">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Facebook</span>
                        </a>
                    </li>
                    <li><a href="https://twitter.com/SFSU" title="SF State Twitter">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Twitter</span>
                        </a>
                    </li>
                    <li><a href="http://instagram.com/sanfranciscostate" title="SF State Instagram">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-instagram fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Instagram</span>
                        </a>
                    </li>
                    <li><a href="http://www.linkedin.com/edu/san-francisco-state-university-17909"
                           title="SF State LinkedIn">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-linkedin fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>