<div class="footer-local">
    <div class="container">
        <div id="footer-row" class="row">
            <div class="col-sm-3">
                <div id="footer-contact">
                    <h2>Contact</h2>
                    <ul class="list-unstyled">
                        <li>Email: service@sfsu.edu</li>
                    </ul>
                    <ul class="list-inline college-social-icon">
                        <li><a href="https://www.facebook.com/sanfranciscostate" title="Facebook">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Facebook</span>
                            </a></li>
                        <li><a href="https://twitter.com/SFSU" title="Twitter">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Twitter</span>
                            </a></li>
                        <li><a href="http://instagram.com/sanfranciscostate" title="Instagram">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-instagram fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Instagram</span>
                            </a></li>
                        <li><a href="http://www.linkedin.com/edu/san-francisco-state-university-17909"
                               title="LinkedIn">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-linkedin fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">LinkedIn</span>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-location">
                    <h2>Location</h2>
                    1600 Holloway Avenue<br>
                    San Francisco<br>
                    CA 94132<br>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-hours">
                    <h2>Office Hours</h2>
                    Monday through Friday 9 - 5<br>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://develop.sfsu.edu/makeagift">Donate to SF State</a></li>
                        <li><a href="http://advising.sfsu.edu/">Undergraduate Advising</a></li>
                        <li><a href="http://grad.sfsu.edu/content/advising/">Graduate Advising</a></li>
                        <li><a href="http://access.sfsu.edu/">Disability Programs &amp; Resources Center</a></li>
                        <li><a href="http://alumni.sfsu.edu/">Alumni Relations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
