
<div  class="pl-component pl-component--news-listing news-related-listing">
    <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/200x200" alt="Placeholder Text">
    <div class="news-related-title">Chair Petra Deken Co-author of Study on Gender Bias</div>
    <div class="news-date">May 2, 2019</div>
</div>