{% set classes = [
    'pl-component',
    'pl-component--factoid-mosaic-item',
    'factoid-mosaic-item'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="highlight">{{ highlight }}</div>
    <div class="sub-text">{{ sub_text}}</div>
</div>

