
<div  class="pl-component pl-component--people people">
    <div class="people-image">
        <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/250x250" alt="Placeholder Text">
    </div>
    <div class="people-name">
        <strong>First Name Last Name</strong> (She/Her/Hers)     </div>
    <div class="people-title">
        <strong>Associate Professor</strong>
    </div>
            <div class="people-highlight">
            <em>Faculty Advisor for some major</em>
        </div>
            <div class="people-email">
        <a href="mailto:example@sfsu.edu">
            <span class="fa fa-envelope-o"></span>example@sfsu.edu
        </a>
    </div>
                <div class="people-phone">
            <span class="fas fa-phone-alt"></span>(415) 338-1111
        </div>
    </div>
