{% set classes = [
    'pl-component',
    'pl-component--people',
    'people',
] %}

<div {{ attributes.addClass(classes) }}>
    <div class="people-image">
        {{img|raw}}
    </div>
    <div class="people-name">
        <strong>{{ name }}</strong> {% if pronoun|render is not empty %}({{ pronoun }}) {% endif %}
    </div>
    <div class="people-title">
        <strong>{{ title }}</strong>
    </div>
    {% if highlight|render is not empty %}
        <div class="people-highlight">
            <em>{{ highlight }}</em>
        </div>
    {% endif %}
    {% if email|render is not empty %}
    <div class="people-email">
        <a href="mailto:{{ email|render|trim }}">
            <span class="fa fa-envelope-o"></span>{{ email|render|trim }}
        </a>
    </div>
    {% endif %}
    {% if phone|render is not empty %}
        <div class="people-phone">
            <span class="fas fa-phone-alt"></span>{{ phone }}
        </div>
    {% endif %}
</div>
