{% set classes = [
    'pl-component',
    'pl-component--live-stream',
    'livestream-embed'
] %}
<div {{ attributes.addClass(classes) }}>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="{{ embed_id }}"
                src="{{ url }}"
                 width="960px" height="540px" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>
</div>