{% set classes = [
    'pl-component',
    'pl-component--qualtrics-form',
    'qualtrics-form'
] %}
<div {{ attributes.addClass(classes) }} >
    <iframe src="{{ form_url }}" name="qualtrics" allowtransparency="true" scrolling="auto" frameborder="no" width="100%"> </iframe>
</div>