.student-resources {
  margin-top: 1em;
  .panel {
    min-height: 10rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .media img {
    max-width: 6rem;
  }

  .media-heading {
    font-size: 1.5rem;
  }

  .media-body p {
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .wrap {
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .wrap .left {
    width: 70%;
    border-bottom: 3px solid #9a2250;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wrap .right {
    width: 30%;
  }

}

.qualtrics-form {
  iframe {
    height: 100vh;
  }
}

.campus-tour {
  display: flex;
  background: #2e2a6e; // Dark purple background.
  border-radius: 8px;
  overflow: hidden;
  width: 100%;

  &__info {
    flex: 1;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #ffc107;
    }

    p {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .campus-tour__button {
      background-color: #ffc107;
      color: #2e2a6e;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      margin-bottom: 10px;
      display: inline-block;

      &:hover {
        background-color: #e0a800;
        color: #fff;
      }

      &--alt {
        background-color: #ffffff;
        color: #2e2a6e;

        &:hover {
          background-color: #f5f5f5;
          color: #004a99;
        }
      }
    }
  }

  &__video {
    flex: 2;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 8px;
    }
    .youvisitInlineframeContainer {
      height: 400px !important;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__info {
      text-align: center;
      padding: 20px;
    }

    &__video {
      margin-top: 20px;
      iframe {
        height: 300px;
      }
      .youvisitInlineframeContainer {
        height: 300px !important;
      }
    }
  }
}
