{% set classes = [
    'pl-component',
    'pl-component--campus-tour'
] %}

<div {{ attributes.addClass(classes) }} >
    <div class="campus-tour">
        <div class="campus-tour__info">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <a class="campus-tour__button" href="{{ cta_link }}" target="_blank">{{ cta_text }}</a>
            <a class="campus-tour__button campus-tour__button--alt" href="{{ ada_cta_link }}" target="_blank">{{ ada_cta_text }}</a>
        </div>
        <div class="campus-tour__video">
            <!--
------------------------------------------------
Place the tag below anywhere on your page.

https://www.youvisit.com/#/vte/?data-inst=60249&data-platform=v&data-link-type=immersive&data-type=hover&data-image-height=100%&data-image-width=100%&data-hover-height=100%&data-hover-width=100%&data-ims-media-type=panorama&data-stopid=296768&data-autoplay=0&data-image-quality=10&data-remove-prompts=2&
------------------------------------------------
-->
            <a href="https://www.youvisit.com" class="virtualtour_embed"
               title="Virtual Reality, Virtual Tour"
               data-inst="60249"
               data-platform="v"
               data-link-type="immersive"
               data-type="hover"
               data-image-height="100%"
               data-image-width="100%"
               data-hover-height="100%"
               data-hover-width="100%"
               data-ims-media-type="panorama"
               data-stopid="296768"
               data-autoplay="0"
               data-image-quality="10"
               data-remove-prompts="2"
            >Virtual Tour</a>
            <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
        </div>
    </div>
</div>
