{% set classes = [
    'pl-component',
    'pl-component--virtual-tour',
    'virtual-tour'
] %}
<div {{ attributes.addClass(classes) }} >
    <div><a alt="Launch Experience" href="{{ tour_url }}">Launch Experience</a></div>
    <script async="async" defer="defer" src="https://www.youvisit.com/tour/Embed/js3"></script>
    <div><a class="sr-only sr-only-focusable" href="{{ ada_url }}">Accessible San Francisco State University - Housing Virtual Tour</a></div>
</div>