<p>"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;</p>
<p><em>Primary font italic: "Lato","HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "Lato","HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<br>
<p class="font-secondary">"Bebas Neue", sans-serif;</p>
<p class="font-secondary"><em>Secondary font italic: "Bebas Neue", sans-serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold; "Bebas Neue", sans-serif;</strong></p>
<br>
<p class="font-secondary-opensans">"OpenSans", $font-secondary-opensans, sans-serif;</p>
<p class="font-secondary-opensans"><em>Secondary font italic: "OpenSans", sans-serif;</em></p>
<p class="font-secondary-opensans"><strong>Secondary font bold; "OpenSans", sans-serif;</strong></p>
