.pl-component {
  margin-bottom: 1em;
}
.file-link {
  font-size: 14px;
}
.sfstate-medium {
  font-size: 17px;
}

/* Drupal Views Related*/
.view-filters {
  label {
    font-size: 1.2em;
    padding: 0.3em;
  }
  .form-item {
    margin-right: 1em;
  }
  button {
    background-color: #303;
    min-width: 10em;

    &:hover {
      background-color: #303;
    }
  }
  select, input {
    min-width: 10em;
    max-width: 25em;
  }
}

/* Mobile App */
body {
  &.mobile-app {
    #header {
      display: none;
    }
  }
}