<div class="container-fluid">
    <div id="header" class="row">
        <div id="site-section" class="col-md-7">
            <div class="site-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="university-name">
                    <a href="https://www.sfsu.edu">SAN FRANCISCO STATE UNIVERSITY</a> |
                </span>
                <span class="site-name">
<a href="http://sfsu.edu/">SF State Website - Base Template</a>                </span>
            </div>
        </div>
    </div>
</div>        </div>
        <div id="utility-section" class="col-md-5">
            <div id="utilitybox" class="pull-right">
                <ul class="list-inline">
                    <li><a href="http://www.sfsu.edu/atoz/">A–Z</a>
                    </li>
                    <li><a href="http://www.sfsu.edu/calendar/">Calendar</a>
                    </li>
                    <li><a href="http://www.sfsu.edu/login.htm">Login</a>
                    </li>
                    <li>
                        <form id="search-box" title="Search SF State" method="get"
                              action="https://google.sfsu.edu/search"
                              role="search">
                            <div class="input-group">
                                <label for="search" class="sr-only sr-only-focusable">Search
                                    SF State</label>
                                <input type="text" name="q" id="search" class="form-control text-center"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button class="btn" type="submit">
                                        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                                        <span class="sr-only sr-only-focusable">Search SF State Button</span>
                                    </button>
                                </div>
                            </div>
                            <label class="radio-inline">
                                <input type="radio" name="top-search" value="global">SF
                                State
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="top-search" checked="checked" value="local">This Site
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-nav">
    <header id="navbar" role="banner" class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span> Menu
            </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li class="first"><a href="#" title="Academics">Academics</a></li>

                    <li><a href="#" title="Resources">Resources</a></li>
                    <li><a href="#" title="People">People</a></li>
                    <li class="dropdown">
                        <a href="#" title="About" class="dropdown-toggle" data-toggle="dropdown">
                            About
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="first"><a href="#">Message from department</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<div class="main-container container">
    <div class="row">
        <section class="col-md-12">
            <div class="region region-content">
                <br />
                

<div  class="pl-component pl-component--people people-detail row">
    <div class="col-md-4">
        <div class="people-image">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/250x250" alt="Placeholder Text">
        </div>
    </div>
    <div class="col-md-6">
        <div class="people-title-section">
            <div class="people-name">
                <h1>First Name Last Name</h1> <span class="people-pronoun">(She/Her/Hers) </span>
            </div>
            <div class="people-title">
                <strong>Associate Professor</strong>
            </div>
        </div>
                    <div class="people-highlight">
                <em>Faculty Advisor for some major</em>
            </div>
                            <div class="people-phone">
                <span class="fas fa-phone-alt"></span><strong>Phone: </strong>(415) 338-1111
            </div>
                            <div class="people-email">
                <span class="fa fa-envelope-o"></span><strong>Email: </strong>example@sfsu.edu
            </div>
                            <div class="people-location">
                <span class="fas fa-map-marker-alt"></span><strong>Location: </strong>Burk Hall 227
            </div>
                            <div class="people-office-hours">
                <span class="far fa-calendar-alt"></span><strong>Office Hours: </strong> <br />
                <div class="people-office-hours-list">Wed: 2:00 p.m. - 4:30 p.m.</div>
            </div>
            </div>
</div>
                <h2>About</h2>
                <p  class="pl-component pl-component--paragraph" >
            A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    </p>                <div  class="pl-component pl-component--pullquote pullquote-blockquote quote">
            A pull quotation (also known as a lift-out pull quote) is a quotation that has been pulled from an article and used as a page layout graphic element, serving to entice readers into the article or to highlight a key topic.
    </div>                <p  class="pl-component pl-component--paragraph" >
            A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    </p>                <h2>More info</h2>
                <p  class="pl-component pl-component--paragraph" >
            A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    </p>                
<div class="pl-component pl-component--accordion" id="accordion-1" class="panel-group" role="tablist"
                                                                        aria-multiselectable="true">

        
    
    <div class="panel panel-default">

                            <div class="panel-heading" id="accordion-heading-accordion-1-2">
                                    <h2 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordion-1"
                           href="#accordion-collapse-accordion-1-2"
                           aria-expanded="true"
                           aria-controls="accordion-collapse-accordion-1-2">
                            This is the first accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h2>
                            </div>

            <div id="accordion-collapse-accordion-1-2"
                 class="panel-collapse collapse in"
                 aria-labelledby="accordion-heading-accordion-1-2">
                <div class="panel-body">
                    This the content for the first accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
                    <div class="panel-heading" id="accordion-heading-accordion-1-3">
                                    <h2 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordion-1"
                           href="#accordion-collapse-accordion-1-3"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-1-3">
                            This is the second accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h2>
                            </div>

            <div id="accordion-collapse-accordion-1-3"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-1-3">
                <div class="panel-body">
                    This the content for the second accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
                    <div class="panel-heading" id="accordion-heading-accordion-1-4">
                                    <h2 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordion-1"
                           href="#accordion-collapse-accordion-1-4"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-1-4">
                            This is the third accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h2>
                            </div>

            <div id="accordion-collapse-accordion-1-4"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-1-4">
                <div class="panel-body">
                    This the content for the third accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
            </div>
</div>                <p  class="pl-component pl-component--paragraph" >
            A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.
    </p>                <br />
            </div>
        </section>
    </div>
</div>


<div class="footer-local">
    <div class="container">
        <div id="footer-row" class="row">
            <div class="col-sm-3">
                <div id="footer-contact">
                    <h2>Contact</h2>
                    <ul class="list-unstyled">
                        <li>Email: service@sfsu.edu</li>
                    </ul>
                    <ul class="list-inline college-social-icon">
                        <li><a href="https://www.facebook.com/sanfranciscostate" title="Facebook">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Facebook</span>
                            </a></li>
                        <li><a href="https://twitter.com/SFSU" title="Twitter">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Twitter</span>
                            </a></li>
                        <li><a href="http://instagram.com/sanfranciscostate" title="Instagram">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-instagram fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">Instagram</span>
                            </a></li>
                        <li><a href="http://www.linkedin.com/edu/san-francisco-state-university-17909"
                               title="LinkedIn">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-linkedin fa-stack-1x fa-inverse"></span>
                                </span>
                                <span class="sr-only sr-only-focusable">LinkedIn</span>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-location">
                    <h2>Location</h2>
                    1600 Holloway Avenue<br>
                    San Francisco<br>
                    CA 94132<br>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-hours">
                    <h2>Office Hours</h2>
                    Monday through Friday 9 - 5<br>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://develop.sfsu.edu/makeagift">Donate to SF State</a></li>
                        <li><a href="http://advising.sfsu.edu/">Undergraduate Advising</a></li>
                        <li><a href="http://grad.sfsu.edu/content/advising/">Graduate Advising</a></li>
                        <li><a href="http://access.sfsu.edu/">Disability Programs &amp; Resources Center</a></li>
                        <li><a href="http://alumni.sfsu.edu/">Alumni Relations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container" id="contact-university">
        <div id="footer-row" class="row">
            <div id="logo-university" class="col-sm-3">
                <img class="pull-right"
                     alt="San Francisco State University Logo"
                     src="../../images/SFState_logo_color.jpg">
            </div>
            <div id="values-university" class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.sfsu.edu/accessibility">Accessibility</a></li>
                    <li><a href="http://equity.sfsu.edu/">Equity & Community Inclusion</a></li>
                    <li><a href="http://sustain.sfsu.edu/">Environment & Sustainability</a></li>
                    <li><a href="https://its.sfsu.edu/privacynotice">Privacy Policy</a></li>
                    <li><a href="https://titleix.sfsu.edu/">Title IX</a></li>
                </ul>
            </div>
            <div id="contact-university" class="col-sm-3">
                <ul class="list-unstyled contact-info">
                    <li><a href="http://www.sfsu.edu/">San Francisco State
                            University</a></li>
                    <li><a href="http://www.calstate.edu/">A
                            California State University Campus</a></li>
                </ul>
            </div>
            <div id="social-media-icon-university" class="col-sm-3 social-icons clearfix">
                <ul class="list-inline pull-left media-icon">
                    <li><a href="https://www.facebook.com/sanfranciscostate" title="SF State Facebook">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Facebook</span>
                        </a>
                    </li>
                    <li><a href="https://twitter.com/SFSU" title="SF State Twitter">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Twitter</span>
                        </a>
                    </li>
                    <li><a href="http://instagram.com/sanfranciscostate" title="SF State Instagram">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-instagram fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State Instagram</span>
                        </a>
                    </li>
                    <li><a href="http://www.linkedin.com/edu/san-francisco-state-university-17909"
                           title="SF State LinkedIn">
                                <span class="fa-stack fa-lg">
                                    <span class="fa fa-circle fa-stack-2x"></span>
                                    <span class="fa fa-linkedin fa-stack-1x fa-inverse"></span>
                                </span>
                            <span class="sr-only sr-only-focusable">SF State LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>