
<div  class="pl-component pl-component--factoid factoid factoid-section">
    <div class="heading-wrapper">
        <h2 class="heading-splash">Why College of Arts and Letters</h2>
    </div>
    <div class="factoid-wrapper">
        <div class="factoid-image hidden-xs">
            <img  class="pl-component pl-component--img img-responsive" src="https://via.placeholder.com/1200x400" alt="Placeholder Text">
        </div>
        <div class="factoid-info">
            <div class="row">
                <div class="col-sm-4">
    <div class="col-xs-10 col-xs-offset-1 factoid-item-wrapper">
        <div  class="pl-component pl-component--factoid-item factoid-item">
            <div class="highlight">Top 5</div>
            <div class="sub-text">Student info</div>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="col-xs-10 col-xs-offset-1 factoid-item-wrapper">
        <div  class="pl-component pl-component--factoid-item factoid-item factoid-bottom-item">
            <div class="sub-text">Student info</div>
            <div class="highlight">90%</div>
        </div>
    </div>
</div><div class="col-sm-4">
    <div class="col-xs-10 col-xs-offset-1 factoid-item-wrapper">
        <div  class="pl-component pl-component--factoid-item factoid-item">
            <div class="highlight">Top 5</div>
            <div class="sub-text">Student info</div>
        </div>
    </div>
</div>


            </div>
        </div>
    </div>
</div>
