{% set classes = [
    'pl-component',
    'pl-component--factoid',
    'factoid',
    'factoid-section'
] %}

<div {{ attributes.addClass(classes) }}>
    <div class="heading-wrapper">
        <h2 class="heading-splash">{{ title }}</h2>
    </div>
    <div class="factoid-wrapper">
        <div class="factoid-image hidden-xs">
            {{ img|raw }}
        </div>
        <div class="factoid-info">
            <div class="row">
                {{ factoid_info|raw }}
            </div>
        </div>
    </div>
</div>
