<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="../../css/bootstrap.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/bootstrap-theme.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/pattern-local.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/dataTables.bootstrap.min.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery.dataTables.min.js"></script>
    <script src="../../js/dataTables.bootstrap.min.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}">
