<div  class="row pl-component--nav-card-grid">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6"><div  class="pl-component pl-component--nav-card-tile navigation-card-tile">
    <div class="card-tile-title">
        
<a href="http://sfsu.edu/">Nav Title</a>
    </div>
</div>
 </div>
            <div class="col-sm-6"> <div  class="pl-component pl-component--nav-card-tile navigation-card-tile">
    <div class="card-tile-title">
        
<a href="http://sfsu.edu/">Nav Title</a>
    </div>
</div>
 </div>
        </div>
    </div>
</div>