<p class="hidden-xs hidden-sm">This text is hidden on smaller screens</p>

<p class="hidden-md hidden-lg"><em>This text is only visible on smaller screens</em></p>

<p class="hidden-md">This text is hidden on medium screens only</p>

<p class="hidden-xs hidden-sm hidden-lg"><em>This text is only visible on medium screens</em></p>

<p class="hidden-lg">This text is hidden on large screens</p>

<p class="hidden-xs hidden-sm hidden-md"><em>This text is only visible on large screens</em></p>