{% set paragraph_id = 'accordion-' ~ paragraph.id.value %}
{% set classes = ['pl-component pl-component--accordion'] %}
{% set title_exists = false %}

{# Prints Accordion template. #}
<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} class="panel-group" role="tablist"
                                                                        aria-multiselectable="true">

    {% if content.field_p_basic_text|render is not empty %}
        {% set title_exists = true %}
    {% endif %}
    {% if title_exists %}
        <h2>{{ content.field_p_basic_text }}</h2>
    {% endif %}

    {% if content.field_p_formatted_content|render is not empty %}
        {{ content.field_p_formatted_content }}
    {% endif %}

    <div class="panel panel-default">

        {# Loops through the accordion sections to print the accordion section titles and bodies. #}
        {% for key, item in content.field_p_referenced_content if key|first != '#' %}
            <div class="panel-heading" id="accordion-heading-{{ paragraph_id }}-{{ key + 1 }}">
                {% if title_exists %}
                <h3 class="panel-title">
                    {% else %}
                    <h2 class="panel-title">
                        {% endif %}

                        <a data-toggle="collapse" data-parent="#{{ paragraph_id }}"
                           href="#accordion-collapse-{{ paragraph_id }}-{{ key + 1 }}"
                           aria-expanded="{% if accordion_open and loop.first %}true{% else %}false{% endif %}"
                           aria-controls="accordion-collapse-{{ paragraph_id }}-{{ key + 1 }}">
                            {{ item['#paragraph'].field_p_basic_text.value }}
                            <span class="pull-right accordion-icon"></span>
                        </a>

                        {% if title_exists %}
                </h3>
            {% else %}
                </h2>
                {% endif %}
            </div>

            <div id="accordion-collapse-{{ paragraph_id }}-{{ key + 1 }}"
                 class="panel-collapse collapse {% if accordion_open and loop.first %}in{% endif %}"
                 aria-labelledby="accordion-heading-{{ paragraph_id }}-{{ key + 1 }}">
                <div class="panel-body">
                    {{ item['#paragraph'].field_p_referenced_content.value }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>