
<div class="pl-component pl-component--accordion" id="accordion-1" class="panel-group" role="tablist"
                                                                        aria-multiselectable="true">

        
    
    <div class="panel panel-default">

                            <div class="panel-heading" id="accordion-heading-accordion-1-2">
                                    <h2 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordion-1"
                           href="#accordion-collapse-accordion-1-2"
                           aria-expanded="true"
                           aria-controls="accordion-collapse-accordion-1-2">
                            This is the first accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h2>
                            </div>

            <div id="accordion-collapse-accordion-1-2"
                 class="panel-collapse collapse in"
                 aria-labelledby="accordion-heading-accordion-1-2">
                <div class="panel-body">
                    This the content for the first accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
                    <div class="panel-heading" id="accordion-heading-accordion-1-3">
                                    <h2 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordion-1"
                           href="#accordion-collapse-accordion-1-3"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-1-3">
                            This is the second accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h2>
                            </div>

            <div id="accordion-collapse-accordion-1-3"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-1-3">
                <div class="panel-body">
                    This the content for the second accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
                    <div class="panel-heading" id="accordion-heading-accordion-1-4">
                                    <h2 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordion-1"
                           href="#accordion-collapse-accordion-1-4"
                           aria-expanded="false"
                           aria-controls="accordion-collapse-accordion-1-4">
                            This is the third accordion item
                            <span class="pull-right accordion-icon"></span>
                        </a>

                                        </h2>
                            </div>

            <div id="accordion-collapse-accordion-1-4"
                 class="panel-collapse collapse "
                 aria-labelledby="accordion-heading-accordion-1-4">
                <div class="panel-body">
                    This the content for the third accordion item. The content could be text, image or other variations such as blockquotes.
                </div>
            </div>
            </div>
</div>